<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Emplear | {% block title %}{% endblock %}</title>
    {% block stylesheet %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('site/assets/css/bootstrap.min.css') }}">

    <!-- External Css -->
    <link rel="stylesheet" href="{{ asset('site/assets/css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('site/assets/css/themify-icons.css') }}" />
    <link rel="stylesheet" href="{{ asset('site/assets/css/et-line.css') }}" />
    <link rel="stylesheet" href="{{ asset('site/assets/css/bootstrap-select.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('site/assets/css/plyr.css') }}" />
    <link rel="stylesheet" href="{{ asset('site/assets/css/flag.css') }}" />
    <link rel="stylesheet" href="{{ asset('site/assets/css/slick.css') }}" />
    <link rel="stylesheet" href="{{ asset('site/assets/css/owl.carousel.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('site/assets/css/jquery.nstSlider.min.css') }}" />
            <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('site/css/main.css') }}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:300i,400,500" rel="stylesheet">
    {#{{ asset('site/') }}#}
    <!-- Favicon -->
    <link rel="icon" href="{{ asset('site/images/favicon.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('site/images/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('site/images/icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('site/images/icon-114x114.png') }}">
        <style>
            .carousel-item {
                height: 100vh;
                min-height: 350px;
                background: no-repeat center center scroll;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        </style>
        <script src="{{ asset('site/assets/js/jquery.min.js') }}"></script>
    <!--[if lt IE 9]>
    <script src="{{ asset('site/assets/js/html5shiv.min.js') }}"></script>
    <script src="{{ asset('site/assets/js/respond.min.js') }}"></script>
    <![endif]-->
    {% endblock %}
</head>
<body>

<!-- Header -->
{% block body %}
<header>
    <nav class="navbar navbar-expand-xl absolute-nav transparent-nav cp-nav navbar-light bg-light fluid-nav">
        <a class="navbar-brand" href="{{ path('homepage') }}">
            <img src="{{ asset('site/images/logo.png') }}" class="img-fluid" alt="" width="200">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto job-browse">
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Examinar empleos</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="search-by">
                            <h5>POR CATEGORÍA</h5>
                            <ul>
                                <li><a href="#">Accounting / Finance <span>(233)</span></a></li>
                                <li><a href="#">Education <span>(46)</span></a></li>
                                <li><a href="#">Design & Creative <span>(156)</span></a></li>
                                <li><a href="#">Health Care <span>(98)</span></a></li>
                                <li><a href="#">Engineer & Architects <span>(188)</span></a></li>
                                <li><a href="#">Marketing & Sales <span>(124)</span></a></li>
                                <li><a href="#">Garments / Textile <span>(584)</span></a></li>
                                <li><a href="#">Customer Support <span>(233)</span></a></li>
                            </ul>
                        </li>
                        <li class="search-by">
                            <h5>POR LOCALIZACIÓN</h5>
                            <ul>
                                <li><a href="#">New York City <span>(508)</span></a></li>
                                <li><a href="#">Washington, D.C <span>(96)</span></a></li>
                                <li><a href="#">Chicago <span>(155)</span></a></li>
                                <li><a href="#">San Francisco <span>(24)</span></a></li>
                                <li><a href="#">Los Angeles <span>(268)</span></a></li>
                                <li><a href="#">Boston <span>(46)</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto main-nav">
                <li class="menu-item active"><a title="Home" href="{{ path('homepage') }}">Inicio</a></li>
                <li class="menu-item dropdown">
                    <a title="" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Empleos </a>
                    <ul  class="dropdown-menu">
                        <li class="menu-item"><a title="About" href="{{ path('job_list') }}">Listado de Empleos</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="menu-item"><a title="About" href="{{ path('job_new') }}">Publicar empleo</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="menu-item dropdown">
                    <a title="" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Empleador</a>
                    <ul  class="dropdown-menu">
                        <li class="menu-item"><a title="About" href="#">Listado de empleadores</a></li>
                        <li class="menu-item"><a title="About" href="{{ path('dashboard') }}">Tablero</a></li>
                        <li class="menu-item"><a title="About" href="{{ path('candidates') }}">Gestión de candidatos</a></li>
                        <li class="menu-item"><a title="About" href="employer-dashboard-manage-job.html">Gestionar trabajo</a></li>
                        <li class="menu-item"><a title="About" href="{{ path('job_new') }}">Publicar trabajo</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                <li class="menu-item dropdown">
                    <a title="" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Candidato</a>
                    <ul  class="dropdown-menu">
                        <li class="menu-item"><a title="About" href="{{ path('candidates') }}">Lista de candidatos</a></li>
                        <li class="menu-item"><a title="About" href="candidate-details.html">Detalles del Candidato</a></li>
                        <li class="menu-item"><a title="About" href="{{ path('dashboard') }}">Tablero</a></li>
                        <li class="menu-item"><a title="About" href="{{ path('dashboard_edit') }}">Editar perfil</a></li>
                        <li class="menu-item"><a title="About" href="{{ path('dashboard_resume_edit') }}">Agregar Curriculum Vitae</a></li>
                        <li class="menu-item"><a title="About" href="{{ path('dashboard_resume') }}">CV</a></li>
                        <li class="menu-item"><a title="About" href="{{ path('dashboard_resume_edit') }}">Editar Curriculum Vitae</a></li>
                        <li class="menu-item"><a title="About" href="{{ path('dashboard_bookmarked') }}">Marcados</a></li>
                        <li class="menu-item"><a title="About" href="{{ path('dashboard_applied') }}">Aplicado</a></li>
                        <li class="menu-item"><a title="About" href="dashboard-pricing.html">Determinación de precios</a></li>
                        <li class="menu-item"><a title="About" href="dashboard-message.html">Mensaje</a></li>
                        <li class="menu-item"><a title="About" href="dashboard-alert.html">Alerta</a></li>
                    </ul>
                </li>
                {% endif %}
                <li class="menu-item dropdown">
                    <a title="" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Páginas</a>
                    <ul  class="dropdown-menu">
                        <li class="menu-item"><a title="About" href="about-us.html">Sobre Nosotros</a></li>
                        <li class="menu-item"><a title="About" href="blog.html">Blog</a></li>
                        <li class="menu-item"><a title="About" href="contact.html">Contáctenos</a></li>
                        <li class="menu-item"><a title="About" href="pricing.html">Determinación de precios</a></li>
                        <li class="menu-item"><a title="About" href="how-it-work.html">Cómo funciona</a></li>
                        <li class="menu-item"><a title="About" href="faq.html">FAQ</a></li>
                        <li class="menu-item"><a title="About" href="checkout.html">Realizar Pedido</a></li>
                        <li class="menu-item"><a title="About" href="payment-complete.html">Pago Completo</a></li>
                        <li class="menu-item"><a title="About" href="invoice.html">Factura</a></li>
                        <li class="menu-item"><a title="About" href="terms-and-condition.html">Términos y condiciones</a></li>
                    </ul>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                    <li class="menu-item post-job"><a title="Title" href="{{ path('job_new') }}"><i class="fas fa-plus"></i>Publicar un trabajo</a></li>
                {% elseif  is_granted('ROLE_ADMIN')%}
                    <li class="menu-item post-job"><a title="Title" href="{{ path('job_new') }}"><i class="fas fa-plus"></i>Publicar un trabajo</a></li>
                {% endif %}

            </ul>
            <ul class="navbar-nav ml-auto account-nav">
                <li class="dropdown menu-item header-top-notification">
                    <a href="#" class="notification-button"></a>
                    <div class="notification-card">
                        <div class="notification-head">
                            <span>Notificaciones</span>
                            <a href="#">Marcar todo como leído</a>
                        </div>
                        <div class="notification-body">
                            {% for n in notifications %}
                                <a href="#" class="notification-list">
                                    <i class="fas fa-bolt"></i>
                                    <p>{{ n.context }}</p>
                                    <span class="time">{{ n.date|ago }}</span>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="notification-footer">
                            <a href="{{ path('dashboard') }}">Ver todas las notificaciones</a>
                        </div>
                    </div>
                </li>
                {% if app.user == false %}
                    <li class="menu-item login-popup"><button title="Title" type="button" data-toggle="modal" data-target="#exampleModalLong">Entrar</button></li>
                    <li class="menu-item login-popup"><a href="{{ path('app_register') }}" title="Registro" type="button" data-toggle="" data-target="#">Registrarse</a></li>
                {% else %}
                    <li class="menu-item dropdown">
                        <a title="" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">{{ app.user.username }}</a>
                        <ul  class="dropdown-menu">
                            <li><a href="{{ path('dashboard') }}"><span class="ti-settings"></span> Configuración</a></li>
                            <li class="menu-item"><a title="About" href="/logout">Salir</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Modal -->
    {#{{ dump(app.user) }}#}
    <div class="account-entry">
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"><i data-feather="user"></i>Entrar</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="login-form" method="post" action="{{ path("fos_user_security_check") }}">
                                <div class="form-group">
                                    <input type="text" value="" name="_username" id="inputUsername" class="form-control" placeholder="Usuario o dirección de correo electrónico" required autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                </div>
                                <div class="more-option">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Recuérdame
                                        </label>
                                    </div>
                                    <a href="#">¿Olvidó su contraseña?</a>
                                </div>
                                <button id="_submit" type="submit" class="button primary-bg btn-block">Entrar</button>
                            </form>
                            <p>¿No tiene una cuenta? <a href="{{ path('app_register') }}">Registrarse </a></p>
                        </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><i data-feather="edit"></i>Registro</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="account-type">
                            <a href="#" class="candidate-acc active"><i data-feather="user"></i>Candidato</a>
                            <a href="#" class="employer-acc"><i data-feather="briefcase"></i>Empleador</a>
                        </div>
                        <form action="#">
                            <div class="form-group">
                                <input type="text" placeholder="Nombre de usuario" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="email" placeholder="Dirección de correo electrónico" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Contraseña" class="form-control">
                            </div>
                            <div class="more-option terms">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                    <label class="form-check-label" for="defaultCheck2">
                                        Acepto los <a href="#">términos y condiciones</a>
                                    </label>
                                </div>
                            </div>
                            <button class="button primary-bg btn-block">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner -->
    <div id="banner" class="banner banner-4 ">
        <section class="" style="position: absolute;z-index: 100; text-align: center;width: 100% ">
            <div class="row">
                <div class="col-12">
                    <div class="banner-content">
                        <h1>La manera más fácil de encontrar trabajo</h1>
                        <p> Encuentre Empleos y Oportunidades de Carrera</p>

                        <div class="banner-search">
                            <form action="#" class="search-form">
                                <input type="text" placeholder="Ingresar palabras clave">
                                <select class="selectpicker" id="search-location">
                                    <option value="" selected>Ubicación</option>
                                    <option value="california">California</option>
                                    <option value="las-vegas">Las Vegas</option>
                                    <option value="new-work">New Work</option>
                                    <option value="carolina">Carolina</option>
                                    <option value="chicago">Chicago</option>
                                    <option value="silicon-vally">Silicon Vally</option>
                                    <option value="washington">Washington DC</option>
                                    <option value="neveda">Neveda</option>
                                </select>
                                <button class="button primary-bg"><i class="fas fa-search"></i>Buscar empleo</button>
                            </form>
                            <div class="trending-key">
                                <span>Tendencias</span>
                                <a href="#">designer</a>
                                <a href="#">php</a>
                                <a href="#">ios</a>
                                <a href="#">Android</a>
                                <a href="#">Accounting</a>
                                <a href="#">Management</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Banner End -->
</header>
<!-- Header End -->



<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url('{{ asset('site/images/bg/bg2.png') }}')"></div>
            <div class="carousel-item" style="background-image: url('{{ asset('site/images/bg/bg1.png') }}')"></div></div>
    </div>
</header>
<!-- Search and Filter -->
<div class="searchAndFilter-wrapper"><div class="section-padding-top padding-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-header">
                        <h2>Encuentre el trabajo adecuado</h2>
                        {#<p>Some key info for find job easily</p>#}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="explore-job">
                        <div class="explore-job-header">
                            <h5 class="title">TOP Categorías</h5>
                            <i data-feather="bookmark"></i>
                        </div>
                        <div class="key-info">
                            <ul>
                                <li><a href="job-listing.html">Accounting / Finance<span>(233)</span></a></li>
                                <li><a href="job-listing.html">Education<span>(46)</span></a></li>
                                <li><a href="job-listing.html">Design &amp; Creative<span>(156)</span></a></li>
                                <li><a href="job-listing.html">Health Care<span>(98)</span></a></li>
                                <li><a href="job-listing.html">Engineer &amp; Architects<span>(584)</span></a></li>
                                <li><a href="job-listing.html">Marketing &amp; Sales<span>(188)</span></a></li>
                                <li><a href="job-listing.html">Garments / Textile<span>(124)</span></a></li>
                                <li><a href="job-listing.html">Customer Support<span>(15)</span></a></li>
                                <li><a href="job-listing.html">Accounting / Finance<span>(233)</span></a></li>
                                <li><a href="job-listing.html">Education<span>(46)</span></a></li>
                                <li><a href="job-listing.html">Design &amp; Creative<span>(156)</span></a></li>
                                <li><a href="job-listing.html">Health Care<span>(98)</span></a></li>
                                <li><a href="job-listing.html">Engineer &amp; Architects<span>(584)</span></a></li>
                                <li><a href="job-listing.html">Marketing &amp; Sales<span>(188)</span></a></li>
                                <li><a href="job-listing.html">Garments / Textile<span>(124)</span></a></li>
                                <li><a href="job-listing.html">Customer Support<span>(15)</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="explore-job">
                        <div class="explore-job-header">
                            <h5 class="title">TOP Ciudades</h5>
                            <i data-feather="map-pin"></i>
                        </div>
                        <div class="key-info">
                            <ul>
                                <li><a href="job-listing.html">New York<span>(233)</span></a></li>
                                <li><a href="job-listing.html">Los Angeles<span>(46)</span></a></li>
                                <li><a href="job-listing.html">California<span>(156)</span></a></li>
                                <li><a href="job-listing.html">Chicago<span>(98)</span></a></li>
                                <li><a href="job-listing.html">Illinois<span>(584)</span></a></li>
                                <li><a href="job-listing.html">Houston<span>(188)</span></a></li>
                                <li><a href="job-listing.html">Phoenix<span>(124)</span></a></li>
                                <li><a href="job-listing.html">Texas<span>(15)</span></a></li>
                                <li><a href="job-listing.html">Arizona<span>(233)</span></a></li>
                                <li><a href="job-listing.html">Philadelphia<span>(46)</span></a></li>
                                <li><a href="job-listing.html">Pennsylvania<span>(156)</span></a></li>
                                <li><a href="job-listing.html">San Antonio<span>(98)</span></a></li>
                                <li><a href="job-listing.html">San Diego<span>(584)</span></a></li>
                                <li><a href="job-listing.html">Dallas<span>(188)</span></a></li>
                                <li><a href="job-listing.html">San Jose<span>(124)</span></a></li>
                                <li><a href="job-listing.html">Austin<span>(15)</span></a></li>
                                <li><a href="job-listing.html">Jacksonville<span>(25)</span></a></li>
                                <li><a href="job-listing.html">Florida<span>(53)</span></a></li>
                                <li><a href="job-listing.html">San Francisco<span>(74)</span></a></li>
                                <li><a href="job-listing.html">Columbus<span>(26)</span></a></li>
                                <li><a href="job-listing.html">Ohio<span>(58)</span></a></li>
                                <li><a href="job-listing.html">Indianapolis<span>(96)</span></a></li>
                                <li><a href="job-listing.html">Indiana<span>(123)</span></a></li>
                                <li><a href="job-listing.html">Fort Worth<span>(42)</span></a></li>
                                <li><a href="job-listing.html">Charlotte<span>(71)</span></a></li>
                                <li><a href="job-listing.html">North Carolina<span>(19)</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="explore-job">
                        <div class="explore-job-header">
                            <h5 class="title">TOP Compañías</h5>
                            <i data-feather="briefcase"></i>
                        </div>
                        <div class="key-info">
                            <ul>
                                <li><a href="job-listing.html">Digoin<span>(233)</span></a></li>
                                <li><a href="job-listing.html">Orion Ltd.<span>(46)</span></a></li>
                                <li><a href="job-listing.html">RealHouse<span>(156)</span></a></li>
                                <li><a href="job-listing.html">BioPro Phrma<span>(98)</span></a></li>
                                <li><a href="job-listing.html">Homeland<span>(584)</span></a></li>
                                <li><a href="job-listing.html">Realouse<span>(188)</span></a></li>
                                <li><a href="job-listing.html">Healthyete<span>(124)</span></a></li>
                                <li><a href="job-listing.html">Theoreo<span>(15)</span></a></li>
                                <li><a href="job-listing.html">Homeland<span>(584)</span></a></li>
                                <li><a href="job-listing.html">Realouse<span>(188)</span></a></li>
                                <li><a href="job-listing.html">Healthyete<span>(124)</span></a></li>
                                <li><a href="job-listing.html">Theoreo<span>(15)</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Search and Filter End -->
{% block jobs_list %}

{% endblock %}
<!-- Fun Facts -->
<div class="padding-top-90 padding-bottom-60 fact-bg">
    <div class="container">
        <div class="row fact-items">
            <div class="col-md-3 col-sm-6">
                <div class="fact">
                    <div class="fact-icon">
                        <i data-feather="briefcase"></i>
                    </div>
                    <p class="fact-number"><span class="count" data-form="0" data-to="12376"></span></p>
                    <p class="fact-name">Trabajos en Vivo</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="fact">
                    <div class="fact-icon">
                        <i data-feather="users"></i>
                    </div>
                    <p class="fact-number"><span class="count" data-form="0" data-to="89562"></span></p>
                    <p class="fact-name">Candidato</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="fact">
                    <div class="fact-icon">
                        <i data-feather="file-text"></i>
                    </div>
                    <p class="fact-number"><span class="count" data-form="0" data-to="28166"></span></p>
                    <p class="fact-name">Curriculum Vitae</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="fact">
                    <div class="fact-icon">
                        <i data-feather="award"></i>
                    </div>
                    <p class="fact-number"><span class="count" data-form="0" data-to="1366"></span></p>
                    <p class="fact-name">Empresas</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fun Facts End -->

<<!-- Testimonial -->
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="testimonial">
                        <div class="testimonial-quote">
                            <img src="{{ asset('site/') }}images/testimonial/quote.png" class="img-fluid" alt="">
                        </div>
                        <div class="testimonial-for">
                            <div class="testimonial-item">
                                <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob One”</p>
                                <h5>Maria Marlin @ Google</h5>
                            </div>
                            <div class="testimonial-item">
                                <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Two”</p>
                                <h5>Laura Harper @ Amazon</h5>
                            </div>
                            <div class="testimonial-item">
                                <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Three”</p>
                                <h5>John Doe @ Envato</h5>
                            </div>
                            <div class="testimonial-item">
                                <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Four”</p>
                                <h5>Jenny Doe @ Dribbble</h5>
                            </div>
                            <div class="testimonial-item">
                                <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Five”</p>
                                <h5>Michle Clark @ Apple</h5>
                            </div>
                            <div class="testimonial-item">
                                <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Two”</p>
                                <h5>Laura Harper @ Amazon</h5>
                            </div>
                            <div class="testimonial-item">
                                <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Three”</p>
                                <h5>John Doe @ Envato</h5>
                            </div>
                        </div>
                        <div class="testimonial-nav">
                            <div class="commenter-thumb">
                                <img src="{{ asset('site/') }}images/testimonial/thumb-1.jpg" class="img-fluid commenter" alt="">
                                <img src="{{ asset('site/') }}images/testimonial/1.png" class="comapnyLogo" alt="">
                            </div>
                            <div class="commenter-thumb">
                                <img src="{{ asset('site/') }}images/testimonial/thumb-2.jpg" class="img-fluid commenter" alt="">
                                <img src="{{ asset('site/') }}images/testimonial/2.png" class="comapnyLogo" alt="">
                            </div>
                            <div class="commenter-thumb">
                                <img src="{{ asset('site/') }}images/testimonial/thumb-3.jpg" class="img-fluid commenter" alt="">
                                <img src="{{ asset('site/') }}images/testimonial/3.png" class="comapnyLogo" alt="">
                            </div>
                            <div class="commenter-thumb">
                                <img src="{{ asset('site/') }}images/testimonial/thumb-4.jpg" class="img-fluid commenter" alt="">
                                <img src="{{ asset('site/') }}images/testimonial/4.png" class="comapnyLogo" alt="">
                            </div>
                            <div class="commenter-thumb">
                                <img src="{{ asset('site/') }}images/testimonial/thumb-5.jpg" class="img-fluid commenter" alt="">
                                <img src="{{ asset('site/') }}images/testimonial/5.png" class="comapnyLogo" alt="">
                            </div>
                            <div class="commenter-thumb">
                                <img src="{{ asset('site/') }}images/testimonial/thumb-2.jpg" class="img-fluid commenter" alt="">
                                <img src="{{ asset('site/') }}images/testimonial/2.png" class="comapnyLogo" alt="">
                            </div>
                            <div class="commenter-thumb">
                                <img src="{{ asset('site/') }}images/testimonial/thumb-3.jpg" class="img-fluid commenter" alt="">
                                <img src="{{ asset('site/') }}images/testimonial/3.png" class="comapnyLogo" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Career Advice -->
    <div class="padding-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-header">
                        <h2>Career Advice</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <article class="blog-grid">
                        <div class="body">
                            <span class="date">22 <span>Dec</span></span>
                            <h3><a href="blog-details.html">Who chooses to enjoy a pleasure</a></h3>
                            <p>Combined with a handful of model sentence structures, to generate lorem Ipsum which</p>
                        </div>
                        <div class="info">
                            <span class="author"><a href="#"><i data-feather="user"></i>Robert Karlos</a></span>
                            <span class="comments"><a href="#"><i data-feather="message-circle"></i>42</a></span>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-lg-4">
                    <article class="blog-grid">
                        <div class="body">
                            <span class="date">22 <span>Dec</span></span>
                            <h3><a href="blog-details.html">Who chooses to enjoy a pleasure</a></h3>
                            <p>Combined with a handful of model sentence structures, to generate lorem Ipsum which</p>
                        </div>
                        <div class="info">
                            <span class="author"><a href="#"><i data-feather="user"></i>Robert Karlos</a></span>
                            <span class="comments"><a href="#"><i data-feather="message-circle"></i>42</a></span>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-lg-4">
                    <article class="blog-grid">
                        <div class="body">
                            <span class="date">22 <span>Dec</span></span>
                            <h3><a href="blog-details.html">Who chooses to enjoy a pleasure</a></h3>
                            <p>Combined with a handful of model sentence structures, to generate lorem Ipsum which</p>
                        </div>
                        <div class="info">
                            <span class="author"><a href="#"><i data-feather="user"></i>Robert Karlos</a></span>
                            <span class="comments"><a href="#"><i data-feather="message-circle"></i>42</a></span>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <!-- Career Advice End -->

{% endblock %}
    {% block footer %}
<!-- Footer -->
    <footer class="footer-bg">
        <div class="footer-top border-bottom section-padding-top padding-bottom-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-logo">
                            <a href="#">
                                <img src="{{ asset('site/images/logo.png') }}" width="200" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-social">
                            <ul class="social-icons">
                                <li><a href="#"><i data-feather="facebook"></i></a></li>
                                <li><a href="#"><i data-feather="twitter"></i></a></li>
                                <li><a href="#"><i data-feather="linkedin"></i></a></li>
                                <li><a href="#"><i data-feather="instagram"></i></a></li>
                                <li><a href="#"><i data-feather="youtube"></i></a></li>
                            </ul>
                            <select class="selectpicker select-language" id="select-country">
                                <option value="United States of America" selected>EN</option>
                                <option value="United Kingdom">GB</option>
                                <option value="Spain">ES</option>
                                <option value="Portugal">PT</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-widget-wrapper padding-bottom-60 padding-top-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-sm-6">
                        <div class="footer-widget footer-shortcut-link">
                            <h4>Information</h4>
                            <div class="widget-inner">
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Terms &amp; Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="footer-widget footer-shortcut-link">
                            <h4>Job Seekers</h4>
                            <div class="widget-inner">
                                <ul>
                                    <li><a href="#">Create Account</a></li>
                                    <li><a href="#">Career Counseling</a></li>
                                    <li><a href="#">My Oficiona</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Video Guides</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="footer-widget footer-shortcut-link">
                            <h4>Employers</h4>
                            <div class="widget-inner">
                                <ul>
                                    <li><a href="#">Create Account</a></li>
                                    <li><a href="#">Products/Service</a></li>
                                    <li><a href="#">Post a Job</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1 col-sm-6">
                        <div class="footer-widget footer-newsletter">
                            <h4>Newsletter</h4>
                            <p>Get e-mail updates about our latest news and Special offers.</p>
                            <form action="#" class="newsletter-form form-inline">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email address...">
                                </div>
                                <button class="btn button primary-bg">Submit<i class="fas fa-caret-right"></i></button>
                                <p class="newsletter-error">0 - Please enter a value</p>
                                <p class="newsletter-success">Thank you for subscribing!</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="footer-bottom border-top">
                            <div class="row">
                                <div class="col-lg-6">
                                    <p class="copyright-text">Copyright <a href="#">Emplear.ec</a> 2019, All right reserved</p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="back-to-top">
                                        <a href="#">Back to top<i class="fas fa-angle-up"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- Footer End -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="{{ asset('site/assets/js/popper.min.js') }}"></script>
<script src="{{ asset('site/assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('site/assets/js/feather.min.js') }}"></script>
<script src="{{ asset('site/assets/js/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('site/assets/js/jquery.nstSlider.min.js') }}"></script>
<script src="{{ asset('site/assets/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('site/assets/js/visible.js') }}"></script>
<script src="{{ asset('site/assets/js/jquery.countTo.js') }}"></script>
<script src="{{ asset('site/assets/js/chart.js') }}"></script>
<script src="{{ asset('site/assets/js/plyr.js') }}"></script>
<script src="{{ asset('site/assets/js/tinymce.min.js') }}"></script>
<script src="{{ asset('site/assets/js/slick.min.js') }}"></script>
<script src="{{ asset('site/assets/js/jquery.ajaxchimp.min.js') }}"></script>
<script src="{{ asset('site/js/map.js') }}"></script>
<script src="{{ asset('site/js/custom.js') }}"></script>
<script src="{{ asset('site/js/searchMap.js') }}"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="{{ asset('site/js/validate.js') }}"></script>

{#<script src="{{ asset('site/js/custom.js') }}"></script>#}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC87gjXWLqrHuLKR0CTV5jNLdP4pEHMhmg"></script>
<script src="{{ asset('site/js/map.js') }}"></script>
<script src="{{ asset('site/js/utils.js') }}"></script>
    {% block js %}{% endblock %}
</body>
{% endblock %}
</html>