{% extends 'site/base.html.twig' %}
{% block title %}Candidatos{% endblock %}
{% block body %}
    {% include'site/header.html.twig' %}
    <link rel="stylesheet" type="text/css" href="{{ asset('site/dashboard/css/dashboard.css') }}">
    <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Página de pago</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Página de pago</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="alice-bg section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="block-wrapper">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="checkout-form">
                                    {#<form action="{{ path('buy_package') }}" method="post">#}
                                        <div class="row">
                                            <label class="col-md-3 col-form-label">Detalles de su paquete</label>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="package-select">
                                                            <div class="package-select-inputs">
                                                                <div class="pricing starter">
                                                                    <span class="package-title">Paquete {{ package.name }}</span>
                                                                    <hr>
                                                                    <div class="package-info">
                                                                        <h3 class="monthly-rate">
                                                                            <span>${{ package.price }}</span>/{{ package.visibleDays }}
                                                                            Días</h3>
                                                                        <p class="user-number">Máximo de publicaciones
                                                                            <strong>{{ package.anouncementsNumberMax }}</strong>
                                                                        </p>
                                                                    </div>
                                                                    <div class="features">
                                                                        <h6>Caracteristicas</h6>
                                                                        <ul>
                                                                            <li>Anuncio destacado
                                                                                <strong>{{ package.daysImportants }}</strong>
                                                                                días
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="w-100"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-9 offset-md-3">
                                                <div class="row">
                                                    {% if package.paypalCode %}
                                                        {{ package.paypalCode|raw }}
                                                    {% else %}
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control"
                                                                       placeholder="Cardholder Name">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control"
                                                                       placeholder="Cardholder Number">
                                                            </div>
                                                        </div>
                                                        <div class="w-100"></div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control"
                                                                       placeholder="Expired Month">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control"
                                                                       placeholder="Expired Year">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" placeholder="CVV">
                                                            </div>
                                                        </div>
                                                        <div class="w-100"></div>
                                                        <div class="col">
                                                            <div class="form-group terms">
                                                                <input class="custom-radio" type="checkbox" id="radio-4"
                                                                       name="termsandcondition">
                                                                <label for="radio-4">
                                                                    <span class="dot"></span> You accepts our <a href="#">Terms
                                                                        and Conditions</a> and <a href="#">Privacy
                                                                        Policy</a>
                                                                </label>
                                                            </div>
                                                            <input type="hidden" value="{{ package.id }}" name="package_id">
                                                            <input type="hidden" value="{{ type }}" name="type">
                                                            <button class="button">Proceder al pago</button>
                                                        </div>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    {#</form>#}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="payment-summery">
                                    <h4>Resumen</h4>
                                    <ul>
                                        <li class="payment-list">
                                            <span class="title">Plan de inicio</span> <span
                                                    class="amount">${{ package.price }}</span>
                                        </li>
                                        <li class="payment-list">
                                            <span class="title">VAT (15%)</span> <span class="amount">$5.00</span>
                                        </li>
                                    </ul>
                                    <div class="total-amount">
                                        <span class="title">Precio Final</span><span class="amount">$27.0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}