{% extends 'site/base.html.twig' %}
{% block title %}Términos & condiciones{% endblock %}
{% block body %}
    {% include'site/header.html.twig' %}
    <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Política de privacidad</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Política de privacidad</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="alice-bg section-padding-bottom">
        <div class="container no-gliters">
            <div class="row no-gliters">
                <div class="col">
                    <div class="terms-container">
                        <div class="terms-content-wrapper">
                            <div class="policy-tab">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="privacy-tab" data-toggle="tab" href="#privacy" role="tab" aria-controls="privacy" aria-selected="true">Política de privacidad</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="privacy" role="tabpanel" aria-labelledby="privacy-tab">
                                        <h4 id="welcome">Mensaje de bienvenida</h4>
                                        {% if terms.welcomeMessage is not null %}{{ terms.welcomeMessage|raw }}{% endif %}
                                        <p>{% if terms.welcomeMessage is not null %}{{ terms.welcomeMessage|raw }}{% endif %}</p>
                                        <h5 id="termss">Nuestros términos</h5>
                                        <p>{% if terms.termsHeader is not null %}{{ terms.termsHeader|raw }}{% endif %}</p>
                                        <ul>
                                            {% if terms.terms is not null %}
                                                {% for t in terms.terms %}
                                                    <li>{{ t }}</li>
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                        <h5 id="condition">Condiciones</h5>
                                        <p>{% if terms.conditionsHeader is not null %}{{ terms.conditionsHeader|raw }}{% endif %}</p>
                                        <ul>
                                            {% if terms.conditions is not null %}
                                                {% for c in terms.conditions %}
                                                    <li>{{ c }}</li>
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                        <h5 id="privacy-2">Privacidad</h5>
                                        {% if terms.privacity is not null %}{{ terms.privacity|raw }}{% endif %}
                                        <h5 id="information">Información que recopilamos</h5>
                                        {% if terms.information is not null %}{{ terms.information|raw }}{% endif %}
                                        <ul class="substyle">
                                        </ul>
                                        <h5 id="security">Seguridad</h5>
                                        {% if terms.security is not null %}{{ terms.security|raw }}{% endif %}
                                        <h5 style="margin-top: 15px!important;" id="update">Actualización de la Política de Privacidad</h5>
                                        {% if terms.updated is not null %}{{ terms.updated|raw }}{% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="terms-sidebar">
                            <h5><i data-feather="arrow-down-circle"></i>Navigation</h5>
                            <ul class="sidebar-menu">
                                <li><a href="#welcome">Mensaje de bienvenida</a></li>
                                <li><a href="#termss">Nuestros términos</a></li>
                                <li><a href="#condition">Condiciones</a></li>
                                <li><a href="#privacy-2">Tu privacidad</a></li>
                                <li><a href="#information">Información que recopilamos</a></li>
                                <li><a href="#security">Seguridad</a></li>
                                <li><a href="#update">Actualización de la Política de Privacidad</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}