<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>Registro | Emplear.ec</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ encore_entry_link_tags('app') }}
    <style>
        .error{
            color: red;
            padding: 0;
            margin: 0;
            z-index: 1;
        }
        body{
            background: url({{ asset('build/backend/images/bg/login-img.jpeg') }}) no-repeat;
            background-size:cover ;
            height: 90%;
        }
        .headers h1, .headers h4{
            color: white;
            text-align: center;
        }
        .headers h4{
            margin-bottom: 30px;
        }
        .register{
            background: -webkit-linear-gradient(left, #3931af, #00c6ff);
            margin-top: 3%;
            padding: 3%;
            border-radius: 15px;
            box-shadow: 5px 5px 20px;
            opacity: 0.9!important;
            margin-right: 10px;
            margin-bottom: 10px;
            width: 62%;
        }
        .register-left{
            text-align: center;
            color: #fff;
            margin-top: 4%;
        }
        .register-left input{
            border: none;
            border-radius: 1.5rem;
            padding: 2%;
            width: 60%;
            background: #f8f9fa;
            font-weight: bold;
            color: #383d41;
            margin-top: 1%;
            margin-bottom: 3%;
            cursor: pointer;
        }
        .register-right{
            background: #f8f9fa;
            border-top-left-radius: 10% 50%;
            border-bottom-left-radius: 10% 50%;
        }
        .register-left img{
            margin-top: 15%;
            margin-bottom: 5%;
            width: 35%;
            -webkit-animation: mover 2s infinite  alternate;
            animation: mover 1s infinite  alternate;
        }
        @-webkit-keyframes mover {
            0% { transform: translateY(0); }
            100% { transform: translateY(-20px); }
        }
        @keyframes mover {
            0% { transform: translateY(0); }
            100% { transform: translateY(-20px); }
        }
        .register-left p{
            font-weight: lighter;
            padding: 12%;
            margin-top: -9%;
        }
        .register .register-form{
            padding: 10%;
            margin-top: 10%;
            padding-right: 0;
        }
        .btnRegister{
            float: right;
            /*margin-top: 10%;*/
            border: none;
            border-radius: 1.5rem;
            padding: 2%;
            background: #0062cc;
            color: #fff;
            font-weight: 600;
            width: 50%;
            cursor: pointer;
        }
        .register .nav-tabs{
            margin-top: 3%;
            border: none;
            background: #0062cc;
            border-radius: 1.5rem;
            /*width: 26%;*/
            float: right;
        }
        .register .nav-tabs .nav-link{
            padding: 2%;
            height: 34px;
            font-weight: 600;
            color: #fff;
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
        }
        .register .nav-tabs .nav-link:hover{
            border: none;
        }
        .register .nav-tabs .nav-link.active{
            width: 100px;
            color: #0062cc;
            border: 2px solid #0062cc;
            border-top-left-radius: 1.5rem;
            border-bottom-left-radius: 1.5rem;
        }
        .register-heading{
            text-align: center;
            margin-top: 8%;
            margin-bottom: -15%;
            color: #495057;
        }
        .hidden{
            opacity: 0;
        }
    </style>
</head>
<body>

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="{{ asset('images/default/logo_sm.png') }}" alt=""/>
            <h3>Bievenido</h3>
            <p>Emplear.ec la mejor forma de buscar trabajo!</p>
            <a href="{{ path('app_login') }}"><input type="submit" name="" value="Iniciar sesión"/></a><br/>
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Candidato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Empleador</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Registrarse como candidato</h3>
                    {{ form_start(form) }}
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.username,{'attr': {'class':'form-control','placeholder': ' Nombre de usuario'} }) }}
                                {% if form_errors(form.username) %}<div class="error">{{ form_errors(form.username)}}</div>{% endif %}
                            </div>

                            <div class="form-group">
                                {{ form_widget(form.email,{'attr': {'class':'form-control','placeholder': ' Dirección de correo'} }) }}
                                {% if form_errors(form.email) %}<div class="error">{{ form_errors(form.email)}}</div>{% endif %}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.phone,{'attr': {'class':'form-control','required':'required','placeholder': 'Número de teléfono'} }) }}
                                {% if form_errors(form.phone) %}<div class="error">{{ form_errors(form.phone)}}</div>{% endif %}
                            </div>
                            <div class="form-group">
                                <div class="maxl">
                                    <label class="radio inline">
                                        <input type="radio" name="gender" value="male" checked>
                                        <span>Hombre </span>
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="gender" value="female">
                                        <span>Mujer</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.plainPassword.first,{'attr': {'class':'form-control','placeholder': 'Contraseña'} }) }}
                                {% if form_errors(form.plainPassword.first) %}<div class="error">{{ form_errors(form.plainPassword.first)}}</div>{% endif %}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.plainPassword.second,{'attr': {'class':'form-control','placeholder': 'Confirmar contraseña'} }) }}
                                {% if form_errors(form.plainPassword.second) %}<div class="error">{{ form_errors(form.plainPassword.second)}}</div>{% endif %}
                            </div>
                            <div class="form-group">
                                <label for="terms">
                                    <input required type="checkbox" name="terms" id="terms"/>
                                    <span> Acepto los <a href="{{ path('site_policy') }}">términos & condiciones</a></span>
                                </label>

                            </div>
                            <div style="visibility: hidden;">
                                <div >
                                    {{ form_widget(form.candidate, {attr:{'type':'hidden','checked':'checked'}}) }}
                                    {{ form_widget(form.employer, {attr:{'type':'hidden'}}) }}
                                    {{ form_widget(form.companyName, {attr:{'type':'hidden'}}) }}
                                </div>
                            </div>
                            <input type="submit" class="btnRegister"  value="Registrarse"/>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3  class="register-heading">Registrarse como empleador</h3>
                    {{ form_start(form2) }}
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(form2.username,{'attr': {'class':'form-control','placeholder': ' Nombre de usuario'} }) }}
                                {% if form_errors(form2.username) %}<div class="error">{{ form_errors(form2.username)}}</div>{% endif %}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form2.email,{'attr': {'class':'form-control','placeholder': ' Dirección de correo'} }) }}
                                {% if form_errors(form2.email) %}<div class="error">{{ form_errors(form2.email)}}</div>{% endif %}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form2.phone,{'attr': {'class':'form-control','required':'required','placeholder': 'Número de teléfono'} }) }}
                                {% if form_errors(form2.phone) %}<div class="error">{{ form_errors(form2.phone)}}</div>{% endif %}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form2.companyName,{'attr': {'class':'form-control','required':'required','placeholder': 'Nombre de la compañía'} }) }}
                                {% if form_errors(form2.companyName) %}<div class="error">{{ form_errors(form2.companyName)}}</div>{% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(form2.plainPassword.first,{'attr': {'class':'form-control','placeholder': 'Contraseña'} }) }}
                                {% if form_errors(form2.plainPassword.first) %}<div class="error">{{ form_errors(form2.plainPassword.first)}}</div>{% endif %}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form2.plainPassword.second,{'attr': {'class':'form-control','placeholder': 'Confirmar contraseña'} }) }}
                                {% if form_errors(form2.plainPassword.second) %}<div class="error">{{ form_errors(form2.plainPassword.second)}}</div>{% endif %}
                            </div>
                            <div class="form-group">
                                <label for="terms">
                                    <input required type="checkbox" name="terms" id="terms"/>
                                    <span> Acepto los <a href="{{ path('site_policy') }}">términos & condiciones</a></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <div style="visibility: hidden;">
                                    {{ form_widget(form2.candidate, {attr:{'type':'hidden'}}) }}
                                    {{ form_widget(form2.employer, {attr:{'type':'hidden','checked':'checked'}}) }}
                                    {{ form_widget(form2.companyName, {attr:{'type':'hidden'}}) }}
                                </div>
                            </div>111
                    </div>
                    {{ form_end(form2) }}
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34731274-1']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackEvent', 'sharing', 'viewed full-screen', 'snippet dlZAN',0,true]);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<script type="text/javascript">
    (function($) {
        $('#theme_chooser').change(function(){
            whichCSS = $(this).val();
            document.getElementById('snippet-preview').contentWindow.changeCSS(whichCSS);
        });
    })(jQuery);
</script>
{{ encore_entry_script_tags('app') }}

</body>
</html>
