{% extends 'site/base.html.twig' %}
{% block title %}Candidatos{% endblock %}
{% block body %}
    {% include'site/header.html.twig' %}
    <link rel="stylesheet" type="text/css" href="{{ asset('site/dashboard/css/dashboard.css') }}">

    <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Tablero de empleador</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Tablero de empleador</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="alice-bg section-padding-bottom">
        <div class="container no-gliters">
            <div class="row no-gliters">
                <div class="col">
                    <div class="dashboard-container">
                        <div class="dashboard-content-wrapper">
                            <div class="manage-candidate-container">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Título del empleo</th>
                                        <th>Estado</th>
                                        <th class="action">Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for c in candidates %}
                                    <tr class="candidates-list">
                                        <td class="title">
                                            <div class="thumb">
                                                {% if c.image is not null %}
                                                    <img src="{{ asset('images/user/') ~ c.image}}" class="img-fluid" alt="">
                                                {% else %}
                                                    <img src="{{ asset('images/default/not_image_user.png')}}" class="img-fluid" alt="">
                                                {% endif %}
                                            </div>
                                            <div class="body">
                                                {% if c.name is not null %}
                                                    <h5><a href="#">{{ c.name }}</a></h5>
                                                {% else %}
                                                    <h5><a>No definido</a></h5>
                                                {% endif %}
                                                <div class="info">
                                                    {% if  c.category is not null %}
                                                        <span class="designation"><a href="#">
                                                                <i data-feather="check-square"></i>
                                                                {% for cat in c.category %}
                                                                {{ cat }}
                                                                    <br>
                                                                {% endfor %}
                                                            </a>
                                                        </span>
                                                    {% else %}
                                                        <span class="designation"><a href="#"><i data-feather="check-square"></i>No definido</a></span>
                                                    {% endif %}

                                                    {% if  c.address is not null %}
                                                        <span class="location"><a href="#"><i data-feather="map-pin"></i>{{ c.address }}</a></span>
                                                    {% else %}
                                                        <span class="location"><a href="#"><i data-feather="map-pin"></i>No definido</a></span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="status"><i data-feather="check-circle"></i>Preseleccionado</td>
                                        <td class="action">
                                            <a href="#" class="download"><i data-feather="download"></i></a>
                                            <a href="{{ path('manage_mail_write') }}" class="inbox"><i data-feather="mail"></i></a>
                                            <a href="#" class="remove"><i data-feather="trash-2"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {{ knp_pagination_render(candidates) }}
                            </div>
                        </div>
                        {% include 'user/employer/dashboard_sidebar.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Job Listing End -->


{% endblock %}