{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
<div class="dashboard-sidebar">
    <div class="company-info">
        <div class="thumb">
            {% if app.user.image is not null %}
                <img src="{{ asset('images/user/') ~'_files_'~app.user.username~'/'~ app.user.image }}"
                     class="img-fluid" alt="">
            {% else %}
                {% if app.user.gender == 'M' %}
                    <img src="{{ asset('images/default/man_logo.jpg') }}"
                         class="img-fluid" alt="">
                {% elseif  app.user.gender == 'F' %}
                    <img src="{{ asset('images/default/woman_logo.jpg') }}"
                         class="img-fluid" alt="">
                {% else %}
                    <img src="{{ asset('images/default/not_image_user.png') }}"
                         class="img-fluid" alt="">
                {% endif %}
            {% endif %}
        </div>
        <div class="company-body">
            <h5>{{ app.user.name }}</h5>
            <span>@{{ app.user.username }}</span>
        </div>
    </div>
    <div class="profile-progress">
        <div class="progress-item">
            <div class="progress-head">
                <p class="progress-on">Perfil</p>
            </div>
            <div class="progress-body">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ app.user.porcent }}" aria-valuemin="0" aria-valuemax="100" style="width: 0;"></div>
                </div>
                <p class="progress-to">{{ app.user.porcent }}%</p>
            </div>
        </div>
    </div>
    <div class="dashboard-menu">
        <ul>
            <li class="{% if currentPath == '/dashboard' %}active{% endif %}"><i class="fas fa-home"></i><a href="{{ path('dashboard') }}">Tablero</a></li>
            <li class="{% if currentPath == '/dashboard/edit' %}active{% endif %}"><i class="fas fa-user"></i><a href="{{ path('dashboard_edit') }}">Editar perfil</a></li>
            <li class="{% if currentPath == '/job/manage'%}active{% endif %}"><i class="fas fa-briefcase"></i><a href="{{ path('job_manage') }}">Administrar trabajos</a></li>
            <li class="{% if currentPath == '/manage/candidates' %}active{% endif %}"><i class="fas fa-users"></i><a href="{{ path('manage_candidates') }}">Administrar candidatos</a></li>
            <li class="{% if currentPath == '/dashboard' %}{% endif %}"><i class="fas fa-heart"></i><a href="#">CV preseleccionados</a></li>
            <li class="{% if currentPath == '/dashboard' %}{% endif %}"><i class="fas fa-plus-square"></i><a href="{{ path('job_new') }}">Publicar empleo</a></li>
            <li class="{% if currentPath == '/pricing' %}active{% endif %}"><i class="fas fa-calculator"></i><a href="{{ path('pricing_page') }}">Plan de precios</a></li>
            {#<li><i class="fas fa-comment"></i><a href="#">Message</a></li>#}
            {#<li><i class="fas fa-calculator"></i><a href="#">Pricing Plans</a></li>#}
        </ul>
        <ul class="delete">
            <li><i class="fas fa-power-off"></i><a href="/logout">Logout</a></li>
        </ul>
    </div>
</div>