{% extends 'site/base.html.twig' %}
{% block title %}Tablero
{% endblock %}
{% block body %}
	{% include'site/header.html.twig' %}
	<link rel="stylesheet" type="text/css" href="{{ asset('site/dashboard/css/dashboard.css') }}">
	<div class="alice-bg padding-top-70 padding-bottom-70">
		{{ include('user/employer/info.html.twig') }}
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="breadcrumb-area">
						<h1>Datos de mi empresa</h1>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="#">Inicio</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Datos de mi empresa</li>
							</ol>
						</nav>
					</div>
				</div>
				{{ include('user/employer/package.html.twig') }}
			</div>
		</div>
	</div>
	<!-- Breadcrumb End -->

	<div class="alice-bg section-padding-bottom">
		<div class="container no-gliters">
			<div class="row no-gliters">
				<div class="col">
					<div class="dashboard-container">
						<div class="dashboard-content-wrapper">
							{{ form_start(form, {attr: {'class': 'dashboard-form'} }) }}
							<div class="dashboard-section upload-profile-photo">
								<div class="update-photo">
									{% if app.user.image is not null %}
										<img src="{{ asset('images/user/') ~'_files_'~app.user.username~'/'~ app.user.image }}" class="image" alt="">
									{% else %}
										{% if app.user.gender == 'M' %}
											<img src="{{ asset('images/default/man_logo.jpg') }}" class="image" alt="">
										{% elseif  app.user.gender == 'F' %}
											<img src="{{ asset('images/default/woman_logo.jpg') }}" class="image" alt="">
										{% else %}
											<img src="{{ asset('images/default/not_image_user.png') }}" class="image" alt="">
										{% endif %}
									{% endif %}
								</div>
								<div id="file_upload" class="file-upload">
									{{ form_widget(form.imageFile, { 'attr': {'class': 'file-input'} } ) }}
									150x150 px JPEG
								</div>

							</div>
							<div class="dashboard-section basic-info-input">
								<h4>
									<i data-feather="user-check"></i>Información básica</h4>
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">Nombre de la compañía<span style="color: red">*</span>
									</label>
									<div class="col-sm-9">
										{{ form_widget(form.companyName, { 'attr': {'required':'required','class': 'form-control','placeholder':'Nombre de la compañía'} } ) }}
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">Nombre del empleador
										<span style="color: red">*</span>
									</label>
									<div class="col-sm-9">
										{{ form_widget(form.name, { 'attr': {'class': 'form-control','placeholder':'Pedro Perez'} } ) }}
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">Usuario<span style="color: red">*</span>
									</label>
									<div class="col-sm-9">
										{{ form_widget(form.username, { 'attr': {'class': 'form-control','placeholder':'@usuario'} } ) }}
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">Dirección de correo<span style="color: red">*</span>
									</label>
									<div class="col-sm-9">
										{{ form_widget(form.email, { 'attr': {'class': 'form-control','placeholder':'email@example.com'} } ) }}
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">Teléfono</label>
									<div class="col-sm-9">
										{{ form_widget(form.phone, { 'attr': {'class': 'form-control','placeholder':'+55 123 4563 4643'} } ) }}
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">Dirección<span style="color: red">*</span>
									</label>
									<div class="col-sm-9">
										{{ form_widget(form.address, { 'attr': {'class': 'form-control','placeholder':'Dirección de la empresa'} } ) }}
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">Sexo<span style="color: red">*</span>
									</label>
									<div class="col-sm-9">
										{{ form_widget(form.gender, { 'attr': {'class': 'form-control'} } ) }}
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">Sobre usted<span style="color: red">*</span>
									</label>
									<div class="col-sm-9">
										{{ form_widget(form.about, { 'attr': {'class': 'form-control','placeholder':'Sobre usted'} } ) }}
									</div>
								</div>
							</div>
							<div class="dashboard-section media-inputs">
								<h4>
									<i data-feather="image"></i>Video</h4>
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">Video Intro</label>
									<div class="col-sm-9">
										<div class="input-group" style="width:100%!important">
											<div class="input-group-prepend">
												<div class="input-group-text">Link</div>
											</div>
											{{ form_widget(form.videoIntro, { 'attr': {'class': 'form-control','placeholder':'https://www.youtube.com/watch?v=ZRkdyjJ_489M','style':'width: 500px;'} } ) }}
										</div>
									</div>
								</div>
							</div>
							<div class="dashboard-section social-inputs">
								<h4>
									<i data-feather="cast"></i>Redes sociales</h4>
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">Links</label>
									<div class="col-sm-9">
										<div class="input-group">
											<div class="input-group-prepend">
												<div class="input-group-text">
													<i class="fab fa-facebook-f"></i>
												</div>
											</div>
											{{ form_widget(form.socialFacebook, { 'attr': {'class': 'form-control','placeholder':'facebook.com/username'} } ) }}
										</div>
									</div>
								</div>
								<div class="form-group row">
									<div class="offset-sm-3 col-sm-9">
										<div class="input-group">
											<div class="input-group-prepend">
												<div class="input-group-text">
													<i class="fab fa-twitter"></i>
												</div>
											</div>
											{{ form_widget(form.socialTwitter, { 'attr': {'class': 'form-control','placeholder':'twitter.com/username'} } ) }}
										</div>
									</div>
								</div>
								<div class="form-group row">
									<div class="offset-sm-3 col-sm-9">
										<div class="input-group">
											<div class="input-group-prepend">
												<div class="input-group-text">
													<i class="fab fa-google-plus"></i>
												</div>
											</div>
											{{ form_widget(form.socialGoogle, { 'attr': {'class': 'form-control','placeholder':'google.com/username'} } ) }}
										</div>
									</div>
								</div>
							</div>
							<button class="button">Guardar</button>
							{#{{ form_end(form, {'render_rest': false}) }}#}
							{{ form_end(form) }}
						</div>
						{% include 'user/employer/dashboard_sidebar.html.twig' %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script src="{{ asset('site/dashboard/js/datePicker.js') }}"></script>
	<script src="{{ asset('site/js/bootstrap-multiselect.js') }}"></script>
	<script>
		$(document).ready(function () {
$('#multiselect').multiselect({buttonWidth: '300px'});
console.log('asda')
$('.file-input').change(function () {
var curElement = $('.image');
var reader = new FileReader();

reader.onload = function (e) { // get loaded data and render thumbnail.
curElement.attr('src', e.target.result);
};

// read the image file as a data URL.
reader.readAsDataURL(this.files[0]);
});

$('#user_fully_employer_imageFile').change(function () {
var curElement = $(this).parent().parent().parent().find('.image');
var reader = new FileReader();

reader.onload = function (e) { // get loaded data and render thumbnail.
curElement.attr('src', e.target.result);
};

// read the image file as a data URL.
reader.readAsDataURL(this.files[0]);
});
});
	</script>
{% endblock %}
