<div class="col-md-6">
    <div class="package breadcrumb-form ">
        <div class="container border">
            {% if expired is not null %}
                <div class="row payment-method payment-container">
                    <div class="col-md-4" style="text-align: center">
                        <h5>Tu plan es</h5>
                    </div>
                    <div class="col-md-4">
                        <button type="button"
                                class="disabled btn btn-secondary btn-lg btn-block">{{ app.user.package.name }}</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" onclick="location.assign('{{ url('pricing_page') }}')"
                                class="btn btn-primary btn-lg btn-block parpadea text">Cambiar plan
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="text-align: left">
                        <span style="font-size: small;">Su plan expia dentro de <span style="margin: 5px" class="badge badge-danger"> {{ expired.days }}</span>días</span>
                    </div>
                    <div class="col-md-6" style="text-align: left">
                        <span style="font-size: small;">Publicaciones disponibles<span style="margin-left: 5px" class="badge badge-danger"> {{ expired.public }}</span></span>
                    </div>
                </div>

            {% else %}
                <div class="row payment-method payment-container">
                    <div class="col-md-7">
                        <h6>Su plan ha expirado</h6>
                    </div>
                    <div class="col-md-5">
                        <button onclick="location.assign('{{ url('pricing_page') }}')" type="button"
                                class="btn btn-primary btn-lg btn-block parpadea text">Compra tu plan ahora!
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>