{% extends 'site/base.html.twig' %}
{% block title %}Servicios{% endblock %}
{% block body %}
    {{ include ('site/header.html.twig',{'notifications': notifications}  ) }}
    <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Listado de servicios</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Listado de servicios</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="breadcrumb-form">
                        <form action="{{ path('services_search') }}" method="post" class="search-form">
                            <input name="keywords" type="search" placeholder="Ingresar palabras clave">
                            <button class="button primary-bg"><i class="fas fa-search"></i></button>
                        </form>
                        <div class="trending-key">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alice-bg section-padding-bottom">
        <div class="container">
            <div class="row no-gutters">
                <div class="col">
                    <div class="job-listing-container">
                        <div id="container-jobs" class="filtered-job-listing-wrapper">
                                {% include 'service/loop.html.twig' %}
                        </div>
                        <div class="job-filter-wrapper">
                            <div class="selected-options">
                                <div class="selection-title">
                                    <h4>Selección</h4>
                                    <a href="#">Limpiar</a>
                                </div>
                                <ul id="auto" class="filtered-options">
                                </ul>
                            </div>
                            <div class="job-filter-dropdown category">
                                <select id="category-filter" class="selectpicker" onchange="findByFiltersServices()">
                                    {% for c in professions %}
                                        <option value="{{ c.name }}">{{ c.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div data-id="experience" class="job-filter experience">
                                <h4 class="option-title">Experiencia</h4>
                                <ul onclick="findByFiltersServices()">
                                    <li><a href="#" data-attr="Un año">Un año</a></li>
                                    <li><a href="#" data-attr="De uno a 2 años">De uno a 2 años</a></li>
                                    <li><a href="#" data-attr="De 2 a 3 años">De 2 a 3 años</a></li>
                                    <li><a href="#" data-attr="Más de 3 años">Más de 3 años</a></li>
                                </ul>
                            </div>
                            <div data-id="post" class="job-filter post">
                                <h4 class="option-title">Fecha de publicación</h4>
                                <ul onclick="findByFiltersServices()">
                                    <li><a href="#" data-attr="Última hora">Última hora</a></li>
                                    <li><a href="#" data-attr="Últimas 24 horas">Últimas 24 horas</a></li>
                                    <li><a href="#" data-attr="Últimos 7 días">Últimos 7 días</a></li>
                                    <li><a href="#" data-attr="Últimos 14 días">Últimos 14 días</a></li>
                                    <li><a href="#" data-attr="Últimos 30 días">Últimos 30 días</a></li>
                                </ul>
                            </div>
                        </div>

                            {{ knp_pagination_render(jobs) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {#</div>#}
    <!-- Job Listing End -->
    <div class="account-entry">
        <div class="modal fade modal-open" id="modal-login" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title"><i data-feather="user"></i>Debes iniciar sesión
                        </h4>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <form class="" id="login-form" method="post"
                              action="{{ path("fos_user_security_check") }}">
                            <div class="md-form mb-5">
                                <input type="text" value="" name="_username" id="inputUsername"
                                       class="form-control validate"
                                       placeholder="Usuario o dirección de correo electrónico"
                                       required autofocus>
                            </div>
                            <div class="md-form mb-5">
                                <input type="password" name="_password" id="inputPassword"
                                       class="form-control" placeholder="Contraseña" required>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}">
                            </div>
                            <button id="_submit" type="submit"
                                    class="button primary-bg btn-block">Entrar
                            </button>
                        </form>
                        <p>¿No tiene una cuenta? <a href="{{ path('app_register') }}">Registrarse </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Call to Action -->
    {% block js %}
        <script src="{{ asset('site/js/utils.js') }}"></script>
        <script src="{{ asset('site/js/ajax.js') }}"></script>
    {% endblock %}
{% endblock %}