{% extends 'site/base.html.twig' %}
{% block title %}Tablero{% endblock %}
{% block body %}
    <link rel="stylesheet" type="text/css" href="{{ asset('site/dashboard/css/dashboard.css') }}">
    {#<link rel="stylesheet/scss" type="text/scss" href="{{ asset('site/dashboard/css/multi.scss') }}">#}
    {{  include ('site/header.html.twig',{'notifications': notifications}  )}}
    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Panel de administración</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Panel de administración</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="alice-bg section-padding-bottom">
        <div class="container no-gliters">
            <div class="row no-gliters">
                <div class="col">
                    <div class="dashboard-container">
                        <div class="dashboard-content-wrapper" style="width: 85%">
                            <div class="dashboard-section dashboard-recent-activity">
                                <h4 class="title">Nuevo paquete <a class="btn btn-primary" href="{{ path('payment_index') }}"><< Regresar</a> </h4>
                                {{ include('payment_for_services/_form.html.twig', {'button_label': 'Update'}) }}
                                {{ include('payment_for_services/_delete_form.html.twig') }}
                            </div>
                        </div>
                        {% include 'admin/dashboard_sidebar.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
 {% block footer %}
     {{ parent() }}
     <script src="{{ asset('site/assets/js/jquery.ajaxchimp.min.js') }}"></script>
     <script src="{{ asset('site/dashboard/js/dashboard.js') }}"></script>
     <script src="{{ asset('site/dashboard/js/datePicker.js') }}"></script>
     <script src="{{ asset('site/dashboard/js/upload-input.js') }}"></script>
 {% endblock %}
