{% trans_default_domain 'FOSUserBundle' %}

<div class="register-box">
    <div class="register-logo">
        <img href="{{ path('fos_user_security_login') }}" src="{{ asset('build/backend/logo-cortex.png') }}"
             alt="CORTEX"
             class="img-responsive center-block">
    </div>

    <div class="register-box-body">
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label required"
                               for="fos_user_registration_form_email">{{ 'resetting.request.username'|trans }}</label>
                        <input type="text" id="username" name="username" required="required" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row pt-10">
                <div class="col-xs-8">
                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-link text-center">Ya estoy registrado</a>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-primary btn-block btn-flat">
                        <i class="fa fa-paper-plane-o"></i> Enviar
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
