{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
<div class="dashboard-sidebar" style="width: 15%">
    <div class="company-info">
        <div class="company-body">
            <h5>{{ app.user.name }}</h5>
            <span>@{{ app.user.username }}</span>
        </div>
    </div>
    <div class="profile-progress">
    </div>
    <div class="dashboard-menu">
        <ul>
            <li class="{% if currentPath == '/payment' %}active{% endif %}"><i class="fas fa-briefcase"></i><a href="{{ path('payment_index') }}">Paquetes</a></li>
            {#<li class="{% if currentPath == '/dashboard/edit' %}active{% endif %}"><i class="fas fa-user"></i><a href="{{ path('dashboard_edit') }}">Editar perfil</a></li>#}
            {#<li class="{% if currentPath == '/job/manage'%}active{% endif %}"><i class="fas fa-briefcase"></i><a href="{{ path('job_manage') }}">Administrar trabajos</a></li>#}
            {#<li class="{% if currentPath == '/manage/candidates' %}active{% endif %}"><i class="fas fa-users"></i><a href="{{ path('manage_candidates') }}">Administrar candidatos</a></li>#}
            {#<li class="{% if currentPath == '/dashboard' %}{% endif %}"><i class="fas fa-heart"></i><a href="#">CV preseleccionados</a></li>#}
            {#<li class="{% if currentPath == '/dashboard' %}{% endif %}"><i class="fas fa-plus-square"></i><a href="{{ path('job_new') }}">Publicar empleo</a></li>#}
            {#<li><i class="fas fa-comment"></i><a href="#">Message</a></li>#}
            {#<li><i class="fas fa-calculator"></i><a href="#">Pricing Plans</a></li>#}
        </ul>
        {#<ul class="delete">#}
            {#<li><i class="fas fa-power-off"></i><a href="/logout">Logout</a></li>#}
        {#</ul>#}
    </div>
</div>