{% block footer %}
    <!-- Footer -->
    <footer class="footer-bg">
        <div class="footer-top border-bottom section-padding-top padding-bottom-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-logo">
                            <a href="#">
                                <img src="{{ asset('build/backend/images/lolo_last.svg') }}" width="200" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-social">
                            <ul class="social-icons">
                                <li><a href="#"><i data-feather="facebook"></i></a></li>
                                <li><a href="#"><i data-feather="twitter"></i></a></li>
                                <li><a href="#"><i data-feather="linkedin"></i></a></li>
                                <li><a href="#"><i data-feather="instagram"></i></a></li>
                                <li><a href="#"><i data-feather="youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-widget-wrapper padding-bottom-60 padding-top-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-sm-6">
                        <div class="footer-widget footer-shortcut-link">
                            <h4>Information</h4>
                            <div class="widget-inner">
                                <ul>
                                    <li><a href="{{ path('static_page_view', {'type': constant('App\\Entity\\StaticPage::TYPE_ABOUT') |url_encode}) }}">Sobre nosotros</a></li>
                                    <li><a href="{{ path('static_page_view', {'type': constant('App\\Entity\\StaticPage::TYPE_CONTACT')|url_encode}) }}">Contáctenos</a></li>
                                    <li><a href="{{ path('site_policy') }}">Términos & Condiciones</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="footer-widget footer-shortcut-link">
                            <h4>Candidatos</h4>
                            <div class="widget-inner">
                                <ul>
                                    <li><a href="{{ path('app_register') }}">Crear una cuenta</a></li>
                                    <li><a href="{{ path('static_page_view', {'type': constant('App\\Entity\\StaticPage::TYPE_HOW_WORKING')|url_encode}) }}">Cómo funciona</a></li>
                                    <li><a href="{{ path('static_page_view', {'type': constant('App\\Entity\\StaticPage::TYPE_FAQ')|url_encode}) }}">Preguntas más frecuentes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="footer-widget footer-shortcut-link">
                            <h4>Empleadores</h4>
                            <div class="widget-inner">
                                <ul>
                                    <li><a href="{{ path('app_register') }}">Crear una cuenta</a></li>
                                    <li><a href="{{ path('job_new') }}">Publicar un trabajo</a></li>
                                    <li><a href="{{ path('static_page_view', {'type': constant('App\\Entity\\StaticPage::TYPE_FAQ')|url_encode}) }}">Preguntas más frecuentes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {#<div class="col-lg-5 offset-lg-1 col-sm-6">#}
                        {#<div class="footer-widget footer-newsletter">#}
                            {#<h4>Hoja informativa</h4>#}
                            {#<p>Recibe actualizaciones por correo electrónico sobre nuestras últimas noticias y ofertas#}
                                {#especiales.</p>#}
                            {#<form action="#" class="newsletter-form form-inline">#}
                                {#<div class="form-group">#}
                                    {#<input type="text" class="form-control" placeholder="Su correo...">#}
                                {#</div>#}
                                {#<button class="btn button primary-bg">Enviar<i class="fas fa-caret-right"></i></button>#}
                                {#<p class="newsletter-error">0 - porfavor introduzca un valor</p>#}
                                {#<p class="newsletter-success">¡Gracias por suscribirse!</p>#}
                            {#</form>#}
                        {#</div>#}
                    {#</div>#}
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="footer-bottom border-top">
                            <div class="row">
                                <div class="col-lg-6">
                                    <p class="copyright-text">Copyright <a href="#">{{ url('homepage') }}</a> {{ 'now'|date('Y') }}, Todos
                                        los derechos reservados</p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="back-to-top">
                                        <a href="#">Volver arriba<i class="fas fa-angle-up"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ajax"><!-- Place at bottom of page --></div>
    </footer>
    <!-- Footer End -->
    <script>
        $(document).ready(function () {
            {% if verificated_acount is defined %}
            {% if verificated_acount  == true %}
            {% if is_granted('ROLE_SUPER_ADMIN')%}
            console.log('>>>>>>ROLE_SUPER_ADMIN=>VERIFICATION_SKIP<<<<<<<');
            {% else %}
            $('#modal-code').modal('show');
            $('#modal-code').modal({backdrop: 'static', keyboard: false});
            {% endif %}
            {% endif %}
            {% endif %}
        })
    </script>
    <!-- Modal -->
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal-code" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #fe9703">
                        <h5 class="modal-title" id="exampleModalLabel">Debe verificar su cuenta</h5>
                    </div>
                    <form action="acount/verificate" class="" method="post" style="text-align: center">
                        <div class="modal-body">
                            <br>
                            <h6>
                                Hola <em>{{ app.user.username }}</em> para completar su registro introduzca el código
                                que hemos enviado a <em>{{ app.user.email }}</em>
                            </h6>
                            <br>
                            <hr>
                            {% for label, flashes in app.session.flashbag.all %}
                                {% for flash in flashes %}
                                    {% if ( label == 'error' ) %}
                                        <div class="alert alert-danger alert-dismissible fade show">
                                            {{ flash }}
                                        </div>
                                    {% elseif ( label == 'success' ) %}
                                        <div class="alert alert-success alert-dismissible fade show">
                                            {{ flash }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            <label style="font-size: 20px" class="label" for="code">Código de verificación</label>
                            <br>
                            <input id="code" name="code" required type="text">
                            <br>
                            <a href="send/code" class="btn btn-primary">Enviar código nuevamente</a>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Verificar mi cuenta</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    <div id="splass-s" class="splass splass-success hidden">
        <div class="splass-header">
            <button id="close-footer-pub" onclick="$('#splass-s').fadeOut('slow')" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span id="type-success"> </span>
        </div>
        <div class="splass-body">
            <p></p>
        </div>
    </div>
    <div id="splass-e" class="splass splass-error hidden">
        <div class="splass-header">
            <button id="close-footer-pub" onclick="$('#splass-e').fadeOut('slow')" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span id="type-error"> </span>
        </div>
        <div class="splass-body">
            <p></p>
        </div>
    </div>

{% endblock %}