{% extends 'backend/base.html.twig' %}

{% block title %}Job{% endblock %}

{% block context %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Trabajo</h6>
        </div>
        <div class="card-body">

            <table class="table table-bordered table-hover">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ job.id }}</td>
                </tr>
                <tr>
                    <th>Título</th>
                    <td>{{ job.title }}</td>
                </tr>
                <tr>
                    <th>Dirección</th>
                    <td>{{ job.localtion }}</td>
                </tr>
                <tr>
                    <th>tipo</th>
                    <td>{{ job.type }}</td>
                </tr>
                <tr>
                    <th>Experiencia</th>
                    <td>{{ job.experience }}</td>
                </tr>
                <tr>
                    <th>Salario máximo</th>
                    <td>{{ job.salaryMax }}</td>
                </tr>
                <tr>
                    <th>Salario mínimo</th>
                    <td>{{ job.salaryMin }}</td>
                </tr>
                <tr>
                    <th>Calificación</th>
                    <td>{{ job.qualification }}</td>
                </tr>
                <tr>
                    <th>Fecha de publicación</th>
                    <td>{{ job.date ? job.date|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Fecha de creación</th>
                    <td>{{ job.dateCreated ? job.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Descripción</th>
                    <td>{{ job.description }}</td>
                </tr>
                <tr>
                    <th>Responsabilidades</th>
                    <td>{{ job.responsabilities }}</td>
                </tr>
                <tr>
                    <th>Educación</th>
                    <td>{{ job.education }}</td>
                </tr>
                <tr>
                    <th>Otros</th>
                    <td>{{ job.others }}</td>
                </tr>
                <tr>
                    <th>País</th>
                    <td>{{ job.country }}</td>
                </tr>
                <tr>
                    <th>Cuidad</th>
                    <td>{{ job.city }}</td>
                </tr>
                <tr>
                    <th>Código postal</th>
                    <td>{{ job.zipCode }}</td>
                </tr>
                <tr>
                    <th>Ubicación</th>
                    <td>{{ job.yourLocaltion }}</td>
                </tr>
                <tr>
                    <th>Género</th>
                    <td>{{ job.gender }}</td>
                </tr>

                </tbody>
            </table>

            <a href="{{ path('job_index') }}" class="btn btn-secondary"> <i class="fas fa-arrow-left"></i> Regresar al listado </a>

            <a href="{{ path('job_edit_new', {'id': job.id}) }}" class="btn btn-warning"><i class="fas fa-edit"></i> Editar</a>

            {{ include('backend/job/_delete_form.html.twig') }}

        </div>
    </div>


{% endblock %}
