<!DOCTYPE html>

<title>RespuestaConsulta</title>

{% block body %}
    <h1>RespuestaConsulta</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ respuesta_consultum.id }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ respuesta_consultum.texto }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ respuesta_consultum.createdAt ? respuesta_consultum.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('respuesta_consulta_index') }}">back to list</a>

    <a href="{{ path('respuesta_consulta_edit', {'id': respuesta_consultum.id}) }}">edit</a>

    {{ include('respuesta_consulta/_delete_form.html.twig') }}
{% endblock %}
