{% extends 'site/base.html.twig' %}
{% block title %}Inicio{% endblock %}
{% block body %}
    {% include'site/header.html.twig' %}
    <!-- Jobs End -->
    <div class="section-padding alice-bg">
        <div class="container">
            <div class="row">
                {% for c in companies %}
                    <div class="col-4">
                        <div class="company-wrap">
                            <div class="thumb">
                                <a href="#">
                                    <img src="{{ vich_uploader_asset(c,'archivoFile') }}" class="img-fluid"
                                         alt="">
                                </a>
                            </div>
                            <div class="body">
                                <h4><a href="{{ path('search_company', {'id': c.id}) }}">{{ c.name }}</a></h4>
                                <a href="{{ c.url }}" target="_blank">Visitar</a><br>
                                <a href="{{ path('search_company', {'id': c.id}) }}" class="button">Ver
                                    ofertas</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Jobs -->
{% endblock %}



