{% extends 'site/base.html.twig' %}
{% block title %}Inicio{% endblock %}
{% block jobs_list %}
    <!-- Jobs End -->
    <div class="section-padding alice-bg">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section-header section-header-2 section-header-with-right-content">
                        <h2>Trabajos recientes</h2>
                        <a href="{{ path('job_list') }}" class="header-right">+ Buscar todos los empleos</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% for j in jobs %}
                        <div class="job-list">
                            <div class="thumb">
                                <a href="{{ path('job_show', {'id': j.id}) }}">
                                    <img src="{{ asset('site/images/upload/company/')~ j.image }}" class="img-fluid" alt="{{ j.title }}">
                                </a>
                            </div>
                            <div class="body">
                                <div class="content">
                                    <h4><a href="{{ path('job_show', {'id': j.id}) }}">{{ j.title }}</a></h4>
                                    <div class="info">
                                        <span class="company"><a><i data-feather="briefcase"></i>{{ j.CompanyName }}</a></span>
                                        <span class="office-location"><a><i data-feather="map-pin"></i>{{ j.Localtion }}</a></span>
                                        {% if j.type == 'partial' %}
                                            <span class="job-type part-time"><a ><i data-feather="clock"></i>A tiempo parcial</a></span>
                                        {% endif %}
                                        {% if j.type == 'ful' %}
                                            <span class="job-type full-time"><a><i data-feather="clock"></i>A tiempo completo</a></span>
                                        {% endif %}
                                        {% if j.type == 'temporary' %}
                                            <span class="job-type temporary"><a ><i data-feather="clock"></i>Temporal</a></span>
                                        {% endif %}
                                        {% if j.type == 'freelance' %}
                                            <span class="job-type freelance"><a ><i data-feather="clock"></i>Independiente</a></span>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="more">
                                    <div class="buttons">
                                        {% if app.user %}
                                        <a id="applied-btn-{{ j.id }}"
                                           onclick="applied('{{ j.id }}')" class="button">{% if j.id in app.user.applied %}Cancelar{% else %}Aplica ya!{% endif %}</a>
                                        <a onclick="bookMark('{{ j.id }}')" class="favourite {% if j.id in app.user.bookmarked %}active{% endif %} "><i data-feather="heart"></i></a>
                                        {% else %}
                                            <a data-toggle="modal" data-target="#exampleModalLong"  class="button">Aplica ya!</a>
                                            {#<a  class="favourite"><i data-feather="heart"></i></a>#}
                                        {% endif %}
                                    </div>
                                    <p class="deadline">Fecha tope: {{ j.expiredDate|date('F d, Y')}}</p>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Jobs -->
{% endblock %}



