{% extends 'site/base.html.twig' %}
{#{% form_theme form 'bootstrap_4_layout.html.twig' %}#}
{% block title %}Crear trabajo{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ asset('site/dashboard/css/dashboard.css') }}">
    <style>
        label[for='job_imageFile'] , label[for='job_company_archivoFile']{
            opacity: 0;
        }

        #file_upload {
            height: 30px;
            padding: 3px;
        }
    </style>
{% endblock %}

{% block body %}
    {{ include ('site/header.html.twig',{'notifications': notifications}  ) }}
    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
            {#{{ include('user/employer/info.html.twig') }}#}
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Publicar empleo</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Publicar empleo</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="alert alert-info">
                        <div class="alert-message">
                            Ahora puedes promocionar tus servicios o productos, hay muchos interesados en comprar lo que ofertas
                        </div>
                    </div>
                </div>
                {{ include('user/employer/package.html.twig') }}
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <div class="alice-bg section-padding-bottom">
        <div class="container no-gliters">
            <div class="row no-gliters">
                <div class="col">
                    <div class="post-container">
                        <div class="post-content-wrapper">
                            {{ form_start(form, {attr: {'class': 'job-post-form','id':'job-form'} }) }}
                            <div class="basic-info-input">
                                <h4><i data-feather="plus-circle"></i>Publicar un empleo</h4>
                                {{ form_row(form.title) }}
                                <div id="logo" class="form-group row">
                                    <label class="col-md-3 col-form-label">Logo del auncio<span style="color: red">*</span></label>
                                    <div class="col-md-9">
                                        <div class="dashboard-section upload-profile-photo">
                                            <div class="update-photo" style="width: 150px;">
                                                <img id="image" class="image" alt="">
                                            </div>
                                            <div id="file_upload" class="file-upload">
                                                {{ form_widget(form.imageFile, { 'attr': {'class': 'file-input'} } ) }}
                                                160x100 jpg
                                            </div>
                                        </div>
                                        <span class="error text-danger">{{ form_errors(form.imageFile) }}</span>
                                    </div>
                                </div>
                                <div id="job-summery" class="row">
                                    <label class="col-md-3 col-form-label">Resumen de trabajo<span
                                                style="color: red">*</span></label>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-6">{{ form_row(form.category) }}</div>
                                            <div class="col-md-6">{{ form_row(form.localtion) }}</div>
                                            <div class="col-md-6">{{ form_row(form.type) }}</div>
                                            <div class="col-md-6">{{ form_row(form.experience) }}</div>
                                            <div class="col-md-6">{{ form_row(form.salary_min) }}</div>
                                            <div class="col-md-6">{{ form_row(form.qualification) }}</div>
                                            <div class="col-md-6">{{ form_row(form.date) }}</div>
{#                                            <div class="col-md-6">{{ form_row(form.gender) }}</div>#}
                                        </div>
                                    </div>
                                </div>
                                <div id="job-description" class="row">
                                    <label class="col-md-3 col-form-label">Descripción del trabajo<span
                                                style="color: red">*</span></label>
                                    <div class="col-md-9">{{ form_row(form.description) }}</div>
                                </div>
                                <div id="response" class="row">
                                    <label class="col-md-3 col-form-label">Responsabilidades<span
                                                style="color: red">*</span></label>
                                    <div class="col-md-9">
                                        {{ form_row(form.responsabilities) }}
                                    </div>
                                </div>
                                <div id="education" class="row">
                                    <label class="col-md-3 col-form-label">Educación<span
                                                style="color: red">*</span></label>
                                    <div class="col-md-9">
                                        {{ form_row(form.education) }}
                                    </div>
                                </div>
                                <div id="others" class="row">
                                    <label class="col-md-3 col-form-label">Otros beneficios<span
                                                style="color: red">*</span></label>
                                    <div class="col-md-9">
                                        {{ form_row(form.others) }}
                                    </div>
                                </div>
                                <div id="post-location" class="form-group row">
                                    <label class="col-md-3 col-form-label">Su ubicación<span style="color: red">*</span></label>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="locationField">
                                                    {{ form_widget(form.your_localtion, {
                                                        'id': 'autocomplete',
                                                        'attr': {
                                                            'class': 'form-control',
                                                            'onFocus': 'geolocate()',
                                                            'placeholder':'Detallar sector',
                                                            'required':'required',
                                                        } }) }}
                                                </div>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-12">
{#                                                            <label class="label">Calle</label>#}
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <input class="field form-control" id="street_number"
                                                                       placeholder="Calle principal"
                                                                />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <input class="field form-control" id="route"
                                                                       placeholder="Calle secundaria"
                                                                />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="label">Ciudad</label>
                                                            {{ form_widget(form.city, {
                                                                'id': 'locality',
                                                                'attr': {
                                                                    'class': 'form-control field',
                                                                    'required':'required',
                                                                } }) }}
                                                        </div>
{#                                                        <div class="col-md-6">#}
{#                                                            <label class="label">Código postal</label>#}
{#                                                            {{ form_widget(form.zip_code, {#}
{#                                                                'id': 'postal_code',#}
{#                                                                'attr': {#}
{#                                                                    'class': 'form-control field',#}
{#                                                                    'required':'required',#}
{#                                                                } }) }}#}
{#                                                        </div>#}
                                                        <div class="col-md-6">
                                                            <label class="label">País</label>
                                                            {{ form_widget(form.country, {
                                                                'id':'country',
                                                                'attr': {
                                                                    'class': 'field form-control',
                                                                    'required':'required',
                                                                } }) }}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="about-company" class="row">
                                    <label class="col-md-3 col-form-label">Acerca de la compañía<span
                                                style="color: red">*</span></label>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-6">{{ form_row(form.company.archivoFile) }}</div>
                                            <div class="col-md-6">{{ form_row(form.company.name) }}</div>
                                            <div class="col-md-12">
                                                {{ form_row(form.company.url) }}
                                                {{ form_row(form.company.description) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {{ include ('site/job/payment.html.twig' ) }}

                                <div class="row">
                                    <div class="col-md-9 offset-md-3">
                                        <div class="form-group terms">
                                            <input class="custom-radio" required="required" selected="selected" type="checkbox" id="radio-4"
                                                   name="termsandcondition">
                                            <label for="radio-4">
                                                <span class="dot"></span> Acepta nuestros <a target="_blank"
                                                        href="{{ path('site_policy') }}">Términos,
                                                    Condiciones y Política de privacidad</a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label"></label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.save, { 'attr': {'class': 'button'} }) }}
                                    </div>
                                </div>

                            </div>
                            <div class="hidden">
                                {{ form_rest(form) }}
                            </div>
                            {{ form_end(form) }}
                        </div>
                        <div class="post-sidebar">
                            <h5><i data-feather="arrow-down-circle"></i>Navegación</h5>
                            <ul class="sidebar-menu">
                                <li><a href="#job-title">Título del empleo</a></li>
                                <li><a href="#job-summery">Resumen del empleo</a></li>
                                <li><a href="#job-description">Descripción del empleo</a></li>
                                <li><a href="#response">Responsabilidades</a></li>
                                <li><a href="#education">Educación</a></li>
                                <li><a href="#others">Tú ubicación</a></li>
                                <li><a href="#post-location">Sobre la compañía</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block js %}
    <script src="{{ asset('site/dashboard/js/dashboard.js') }}"></script>
    <script src="{{ asset('site/dashboard/js/datePicker.js') }}"></script>
    <script src="{{ asset('site/dashboard/js/upload-input2.js') }}"></script>
    <script src="{{ asset('site/js/bootstrap-multiselect.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#multiselect').multiselect({
                buttonWidth: '300px',

            });
            $('.file-input').change(function () {
                var curElement = $('.image');
                var reader = new FileReader();

                reader.onload = function (e) {
                    // get loaded data and render thumbnail.
                    curElement.attr('src', e.target.result);
                };

                // read the image file as a data URL.
                reader.readAsDataURL(this.files[0]);
            });

            $('#service_job_imageFile').change(function () {
                var curElement = $(this).parent().parent().parent().find('.image');
                var reader = new FileReader();

                reader.onload = function (e) {
                    // get loaded data and render thumbnail.
                    curElement.attr('src', e.target.result);
                };

                // read the image file as a data URL.
                reader.readAsDataURL(this.files[0]);
            });

            $('#service_job_images').collection({
                add: `<a class="btn btn-primary pull-right" href="#"><i class="fas fa-plus" style="position: relative; top: 0;color: white;"></i></a>`,
                remove: `<a href="#" class="btn btn-danger mt-collection pull-right"><i class="fas fa-trash" style="position: relative; top: 0;color: white;"></i></a>`,
                allow_up: false,
                allow_down: false,
                allow_duplicate: false,
                add_at_the_end: true,
                after_add: function (collection, item) {
                    $('.file-to-upload').fileinput({
                        dropZoneEnabled:false,
                        browseLabel: '&nbsp;Buscar',
                        // browseIcon: '<i class="fa fa-upload" style="position: relative; color: white"></i>&nbsp;',
                        removeLabel: 'Eliminar',
                        showCancel:false,
                        showUpload: false,
                        allowedFileExtensions:['png','jpg','gif','jpeg'],
                        maxFileSize: '1024',
                    });
                }
            })
        });
    </script>
    <script>
        $(document).ready(function () {
            {% if company is not null %}
                coreApp.plugins.initNewFileInput('#job_company_archivoFile','{{ vich_uploader_asset(company,'archivoFile') }}')
            {% endif %}
        })
    </script>
{% endblock %}