{% extends 'site/base.html.twig' %}
{% block title %}Trabajos{% endblock %}
{% block body %}
    {{ include ('site/header.html.twig',{'notifications': notifications}  ) }}

    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Listado de empleos</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Listado de empleos</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Job Listing -->
    <div class="alice-bg section-padding-bottom">
        <div class="container">
            <div class="row no-gutters">
                <div class="col container">
                    <div class="job-listing-container">
                        <div id="container-jobs" class="filtered-job-listing-wrapper">
                            {% include 'site/job/loop.html.twig' %}
                        </div>
                        <div class="job-filter-wrapper">
                            <div class="selected-options">
                                <div class="selection-title">
                                    <h4>Selección</h4>
                                    <a href="#">Limpiar</a>
                                </div>
                                <ul id="auto" class="filtered-options">
                                </ul>
                            </div>
                            <div class="job-filter-dropdown category">
                                <select id="category-filter" class="selectpicker" onchange="findByFilters()">
                                    {% for c in categorys %}
                                        <option value="{{ c.name }}">{{ c.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="job-filter-dropdown location" >
                                <select id="location-filter" class="selectpicker" onchange="findByFilters()">
                                    {% for l in locations %}
                                        <option value="{{ l.name }}">{{ l.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div data-id="gender" class="job-filter gender">
                                <h4 class="option-title">Género</h4>
                                <ul onclick="findByFilters()">
                                    <li><a href="#" data-attr="masculino">Masculino</a></li>
                                    <li><a href="#" data-attr="femenino">Femenino</a></li>
                                    <li><a href="#" data-attr="cualquier">Cualquier</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Job Listing End -->

    <!-- Call to Action -->
    {% block js %}
        <script src="{{ asset('site/js/utils.js') }}"></script>
        <script src="{{ asset('site/js/ajax.js') }}"></script>
    {% endblock %}
{% endblock %}