    <div class="job-view-controller-wrapper">
        <div class="job-view-controller">
            <div class="controller list active">
                <i data-feather="menu"></i>
            </div>
            <div class="controller grid">
                <i data-feather="grid"></i>
            </div>
        </div>
        <div class="showing-number">
            <div class="">
                Total encontrados({{ jobs.getTotalItemCount }})
            </div>

        </div>
    </div>

    <div class="job-filter-result">
        {% if jobs|length == 0 %}
            <h4 style="text-align: center">Ups! No hemos encontrado nada aquí</h4>
        {% endif %}
        {% for j in jobs %}
            <div class="job-list row">
                <div class="thumb">
                    <a href="{{ path('job_show', {'id': j.id}) }}">
                        <img src="{{ asset('site/images/upload/company/')~'_user_'~j.user.id~'/'~ j.image }}"
                             class="img-fluid" alt="{{ j.title }}">
                    </a>
                </div>
                <div class="body">
                    <div class="content">
                        <h4><a href="{{ path('job_show', {'id': j.id}) }}">{{ j.title }}
                                {% if j.user.package != 'payment_basic' %}
                                    <span class="span-dest">DESTACADO</span>
                                {% endif %}
                            </a></h4>
                        <div class="info">
                                                    <span class="company"><a><i
                                                                    data-feather="briefcase"></i>{{ j.CompanyName }}</a></span>
                            <span class="office-location"><a><i
                                            data-feather="map-pin"></i>{{ j.Localtion }}</a></span>
                            {% if j.type == 'partial' %}
                                <span class="job-type part-time"><a><i data-feather="clock"></i>A tiempo parcial</a></span>
                            {% endif %}
                            {% if j.type == 'ful' %}
                                <span class="job-type full-time"><a><i data-feather="clock"></i>A tiempo completo</a></span>
                            {% endif %}
                            {% if j.type == 'temporary' %}
                                <span class="job-type temporary"><a><i data-feather="clock"></i>Temporal</a></span>
                            {% endif %}
                            {% if j.type == 'freelance' %}
                                <span class="job-type freelance"><a><i data-feather="clock"></i>Independiente</a></span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="more">
                        <div class="buttons">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a id="applied-btn-{{ j.id }}"
                                   onclick="applied('{{ j.id }}')"
                                   class="button">{% if j.id in app.user.applied %}Cancelar{% else %}Aplica ya!{% endif %}</a>
                                <a onclick="bookMark('{{ j.id }}')"
                                   class="favourite {% if j.id in app.user.bookmarked %}active{% endif %} "><i
                                            data-feather="heart"></i></a>
                            {% else %}
                                <a data-toggle="modal" data-target="#modal-login"
                                   class="button">Aplica ya!</a>
                                {#<a  class="favourite"><i data-feather="heart"></i></a>#}
                            {% endif %}
                        </div>
                        <p class="deadline">{{ j.dateCreated|localizeddate('short', 'none', 'en') }}</p>
                    </div>
                </div>
                <div class="col-12 job-about">
                    <p> {{ j.description| easyadmin_truncate(200) }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="account-entry">
        <div class="modal fade modal-open" id="modal-login" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title"><i data-feather="user"></i>Debes iniciar sesión
                        </h4>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <form class="" id="login-form" method="post"
                              action="{{ path("fos_user_security_check") }}">
                            <div class="md-form mb-5">
                                <input type="text" value="" name="_username" id="inputUsername"
                                       class="form-control validate"
                                       placeholder="Usuario o dirección de correo electrónico"
                                       required autofocus>
                            </div>
                            <div class="md-form mb-5">
                                <input type="password" name="_password" id="inputPassword"
                                       class="form-control" placeholder="Contraseña" required>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}">
                            </div>
                            <button id="_submit" type="submit"
                                    class="button primary-bg btn-block">Entrar
                            </button>
                        </form>
                        <p>¿No tiene una cuenta? <a href="{{ path('app_register') }}">Registrarse </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ knp_pagination_render(jobs) }}
