{{ form_start(form)}}
<div class="form-row">
    <div class="form-group col-md-3">
        <label for="name">Nombre</label>
        {{ form_widget(form.name, {
            'id': 'name',
            'attr': {
                'class': 'form-control',
                'required':'required',
            } }
        ) }}
    </div>
    <div class="form-group col-md-3">
        <label for="price">Precio</label>
        {{ form_widget(form.price, {
            'id': 'price',
            'attr': {
                'class': 'form-control',
                'required':'required',
            } }) }}
    </div>
    <div class="form-group col-md-3">
        <label for="max-anouncements">Número máximo de anuncios</label>
        {{ form_widget(form.anouncements_number_max, {
            'id': 'max-anouncements',
            'attr': {
                'class': 'form-control',
                'required':'required',
            } }) }}
    </div>
    <div class="form-group col-md-3">
        <label for="max-cv">Número máximo de CV</label>
        {{ form_widget(form.cv_number_max, {
            'id': 'max-cv',
            'attr': {
                'class': 'form-control',
                'required':'required',
            } }) }}
    </div>
    <div class="form-group col-md-3">
        <label for="evaluations">Evaluaciones psicológicas</label>
        {{ form_widget(form.evaluations_psicological, {
            'id': 'evaluations',
            'attr': {
                'class': 'form-control',
            } }) }}
    </div>
    <div class="form-group col-md-3">
        <label for="days">Días visible</label>
        {{ form_widget(form.visible_days, {
            'id': 'days',
            'attr': {
                'class': 'form-control',
                'required':'required',
            } }) }}
    </div>
    <div class="form-group col-md-3">
        <label for="importants">Días destacado</label>
        {{ form_widget(form.days_importants, {
            'id': 'importants',
            'attr': {
                'class': 'form-control',
                'required':'required',
            } }) }}
    </div>
    <div class="form-group col-md-3">
        <label for="selection">Selección de cantidatos</label>
        {{ form_widget(form.selection, {
            'id': 'selection',
            'attr': {
                'class': 'form-control',
            } }) }}
    </div>
   </div>
    {#{{ form_widget(form) }}#}
    <button class="btn btn-primary">Guardar</button>
{{ form_end(form) }}
