{% extends 'site/base.html.twig' %}
{% block title %}Tablero{% endblock %}
{% block body %}
    <link rel="stylesheet" type="text/css" href="{{ asset('site/dashboard/css/dashboard.css') }}">
    {#<link rel="stylesheet/scss" type="text/scss" href="{{ asset('site/dashboard/css/multi.scss') }}">#}
    {{ include ('site/header.html.twig',{'notifications': notifications}  ) }}
    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Panel de administración</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Panel de administración</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                {#{{ include('user/employer/package.html.twig') }}#}
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="alice-bg section-padding-bottom">
        <div class="container no-gliters">
            <div class="row no-gliters">
                <div class="col">
                    <div class="dashboard-container">
                        <div class="dashboard-content-wrapper" style="width: 85%">
                            <div class="dashboard-section dashboard-recent-activity">
                                <h4 class="title">Paquetes de Empleos <a class="btn btn-primary" href="{{ path('payment_for_jobs_new') }}">Nuevo paquete</a> </h4>
                                <table class="table table-striped table-bordered">
                                    <thead>
                                    <tr style="font-size: small">
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Límite de anuncios</th>
                                        <th scope="col">Límite de CV</th>
                                        <th scope="col">Evaluaciones</th>
                                        <th scope="col">Días visible</th>
                                        <th scope="col">Días destacado</th>
                                        <th scope="col">Selección</th>
                                        <th scope="col">Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set find = false %}
                                    {% for payment in payments %}
                                        <tr>
                                            <td>{{ payment.name }}</td>
                                            <td>{{ payment.price }}</td>
                                            <td>{{ payment.anouncementsNumberMax }}</td>
                                            <td>{{ payment.cvNumberMax }}</td>
                                            <td>{{ payment.evaluationsPsicological ? 'Yes' : 'No' }}</td>
                                            <td>{{ payment.visibleDays }}</td>
                                            <td>{{ payment.daysImportants }}</td>
                                            <td>{{ payment.selection ? 'Yes' : 'No' }}</td>
                                            <td>
                                                <a class="btn btn-info"
                                                   href="{{ path('payment_show', {'id': payment.id}) }}">Ver</a>
                                                <a class="btn btn-warning"
                                                   href="{{ path('payment_edit', {'id': payment.id}) }}">Editar</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <h4 class="title">Paquetes de Servicios <a class="btn btn-primary" href="{{ path('payment_for_services_new') }}">Nuevo paquete</a> </h4>
                                <table class="table table-striped table-bordered">
                                    <thead>
                                    <tr style="font-size: small">
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Límite de anuncios</th>
                                        <th scope="col">Días visible</th>
                                        <th scope="col">Días destacado</th>
                                        <th scope="col">Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set find = false %}
                                    {% for payment in services %}
                                        <tr>
                                            <td>{{ payment.name }}</td>
                                            <td>{{ payment.price }}</td>
                                            <td>{{ payment.anouncementsNumberMax }}</td>
                                            <td>{{ payment.visibleDays }}</td>
                                            <td>{{ payment.daysImportants }}</td>
                                            <td>
                                                <a class="btn btn-info"
                                                   href="{{ path('payment_for_services_show', {'id': payment.id}) }}">Ver</a>
                                                <a class="btn btn-warning"
                                                   href="{{ path('payment_for_services_edit', {'id': payment.id}) }}">Editar</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                           </div>
                        {% include 'admin/dashboard_sidebar.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
 {% block footer %}
     {{ parent() }}
     <script src="{{ asset('site/assets/js/jquery.ajaxchimp.min.js') }}"></script>
     <script src="{{ asset('site/dashboard/js/dashboard.js') }}"></script>
     <script src="{{ asset('site/dashboard/js/datePicker.js') }}"></script>
     <script src="{{ asset('site/dashboard/js/upload-input.js') }}"></script>
 {% endblock %}