{% spaceless %}
    {# add your styles before the inlinestyle tag #}
    {{ zurb_ink_styles.add('../public/site/css/mail.css') }}
    {#{{ zurb_ink_styles.add('../public/site/assets/css/bootstrap.min.css') }}#}
    {% inlinestyle %}
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
            <meta name="viewport" content="width=device-width"/>
            {% block headStyles %}
                <style type="text/css">
                    {% autoescape false %}
                    {{ includeStyles(zurb_ink_styles) }}
                    {% endautoescape %}
                </style>
            {% endblock %}
        </head>
        {#{% inky %} #}{# inky-tag for inky-template support  #}
        <body>
        {% block body %}
            <center>
                {% block content %}

                {% endblock %}
            </center>
            <footer>
                <div>
                    <p>Copyright Emplear.ec 2019, Todos los derechos reservados.</p>
                </div>
                <div>
                    <img class="logo" src="{{ absolute_url(asset('site/images/logo.png')) }}" alt="Emplear_Logo">
                </div>
                <div>
                    <a href="" ><img class="social_icon" src="{{ absolute_url(asset('site/images/logo_facebook.png')) }}" alt=""></a>
                    <a href="" ><img class="social_icon" src="{{ absolute_url(asset('site/images/logo_twitter.png')) }}" alt=""></a>
                </div>
            </footer>
            <!-- prevent Gmail on iOS font size manipulation -->
            <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            </div>
        {% endblock %}
        </body>
        {#{% endinky %}#}
        </html>
    {% endinlinestyle %}
{% endspaceless %}