{% extends 'mail/base.html.twig' %}
 {% block content %}
     <div class="container">
        <h2>Notificación de {{ app.request.baseUrl }}</h2>
         <img id="logo" src="{{ absolute_url(asset('site/images/logo.png')) }}" alt="Emplear_Logo">
         <hr>
         <p>Estimado {{ user.name }}, su publicación {{ job.title }} no cumple con nuestras políticas</p>
         <br>
         {#<p><em>{{ body|raw }}</em></p>#}
     </div>
 {% endblock %}