{% extends 'mail/base.html.twig' %}
 {% block content %}
     <div class="container">
         <h2>Hola {{ user.username }}, ya estas registrado en</h2>
         <img id="logo" src="{{ absolute_url(asset('site/images/logo.png')) }}" alt="Emplear_Logo">
         <p>Desde ahora podrás revisar, acceder y registrar todas las ofertas laborales de la manera más fácil</p>
         <table>
             <caption><h2>Detalles de su cuenta</h2></caption>
             <thead>
             <tr>
                 <th>Código de verificación</th>
                 <th>Tipo de cuenta</th>
                 <th>Nombre de usuario</th>
                 <th>Clave</th>
                 <th>Fecha</th>
             </tr>
             </thead>
             <tbody>
             <tr>
                 <td class="secret">{{ user.secret }}</td>
                 {% if user.candidate %}
                     <td>Candidato</td>{% else %}
                     <td>Empleador</td>{% endif %}
                 <td>{{ user.username }}</td>
                 <td>{{ plain_password }}</td>
                 <tD>{{ date('now')|date }}</tD>
             </tr>
             </tbody>
         </table>
         <p>Para verifiar su cuenta puede ingresar</p>
         <br>
         <a class="button" href="{{ url('homepage') }}">Aquí</a>
         <br>
         <br>
     </div>
 {% endblock %}