{% extends 'site/base.html.twig' %}
{% block title %}Tablero{% endblock %}
{% block body %}
    <link rel="stylesheet" type="text/css" href="{{ asset('site/dashboard/css/dashboard.css') }}">
    {#{% set notifications = notifications %}#}
    {{  include ('site/header.html.twig',{'notifications': notifications}  )}}
    {#{% include notifications %}#}
        <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Tablero de Candidatos</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Tablero de candidatos</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="breadcrumb-form">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="alice-bg section-padding-bottom">
        <div class="container no-gliters">
            <div class="row no-gliters">
                <div class="col">
                    <div class="dashboard-container">
                        <div class="dashboard-content-wrapper">
                            <div class="dashboard-section user-statistic-block">
                                <div class="user-statistic">
                                    <i data-feather="pie-chart"></i>
                                    <h3>{{ app.user.companiesSeen }}</h3>
                                    <span> Empresas vistas </span>
                                </div>
                                <div class="user-statistic">
                                    <i data-feather="briefcase"></i>
                                    <h3>{{ app.user.jobAppiled|length }}</h3>
                                    <span>Trabajos Aplicados</span>
                                </div>
                                <div class="user-statistic">
                                    <i data-feather="heart"></i>
                                    <h3>{{ app.user.bookmarked|length }}</h3>
                                    <span>Trabajos Favoritos</span>
                                </div>
                            </div>
                            <div class="dashboard-section dashboard-view-chart">
                                <canvas id="view-chart" width="400" height="200"></canvas>
                            </div>
                            <div class="dashboard-section dashboard-recent-activity">
                                <h4 class="title">Actividad reciente</h4>
                                {% for n in notifications %}
                                <div class="activity-list">
                                    <i class="fas fa-bolt"></i>
                                    <div class="content">
                                        <h5>{{ n.context }}</h5>
                                        <span class="time">{{ n.date|ago }}</span>
                                    </div>
                                    <div class="close-activity">
                                       <i class="fas fa-times" onclick="test1(a)"></i>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% include 'user/dashboard_sidebar.html.twig' %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Call to Action -->
    <!-- Call to Action End -->
    <script src="{{ asset('site/assets/js/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ asset('site/dashboard/js/dashboard.js') }}"></script>
    <script src="{{ asset('site/dashboard/js/datePicker.js') }}"></script>
    <script src="{{ asset('site/dashboard/js/upload-input.js') }}"></script>

    {% endblock %}
 {% block js %}
 {% endblock %}