{% extends 'site/base.html.twig' %}
{% block title %}Tablero{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block body %}
    <link rel="stylesheet" type="text/css" href="{{ asset('site/dashboard/css/dashboard.css') }}">
    {# {% set notifications = notifications %} #}
    {{ include ('site/header.html.twig',{'notifications': notifications}  ) }}
    {# {% include notifications %} #}
    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
            {# {{ include('user/employer/info.html.twig') }} #}
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Editar Currículum Vitae </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Editar Currículum Vitae</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <div class="alice-bg section-padding-bottom">
        <div class="container no-gliters">
            <div class="row no-gliters">
                <div class="col">
                    <div class="dashboard-container">
                        <div class="dashboard-content-wrapper">
                            <div class="download-resume dashboard-section">
                                {{ form_start(form_files,{attr: {'action': '/dashboard/resume/edit'} } ) }}

                                <div class="row">
                                    <div class="col-5">
                                        {% if app.user.resume.cv is not null %}
                                            {{ form_row(form_files.cvFile,{'attr':{'requered':'requiered'}}) }}
                                            <a href="{{ vich_uploader_asset(app.user.resume, 'cvFile') }}"
                                               download="{{ vich_uploader_asset(app.user.resume, 'cvFile') }}">
                                                <i class="fas fa-download"></i>
                                                Descargar CV actual
                                            </a>
                                        {% else %}
                                            {{ form_row(form_files.cvFile,{'attr':{'requered':'requiered'}}) }}
                                        {% endif %}
                                    </div>
                                    <div class="col-5">
                                        {{ form_row(form_files.cartFile) }}
                                        {% if app.user.resume.cart is not null %}
                                            <a href="{{ vich_uploader_asset(app.user.resume, 'cartFile') }}"
                                               download="{{ vich_uploader_asset(app.user.resume, 'cartFile') }}">
                                                <i class="fas fa-download"></i>
                                                Descargar carta actual
                                            </a>
                                        {% endif %}
                                    </div>

                                    <div class="col-2 pt-5">
                                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar
                                        </button>
                                    </div>
                                </div>

                                {{ form_end(form_files) }}
                                <ul class="list-group">
                                    {% for error in form_files.vars.errors.form.getErrors(true) %}
                                        <li class="list-group-item list-group-item-danger">{{ error.message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="skill-and-profile dashboard-section">
                                <div id="skill-container" class="skill">
                                    <label>Habilidades:</label>
                                    <a type="button" href="{{ path('resume_skills') }}"
                                       class="btn btn-primary edit-button pull-right edit-cv"
                                       data-toggle="modal" data-target="#modal-skill">
                                        <i data-feather="edit-2"></i>
                                    </a>
                                    <div id="container-skils">
                                        {% for sk in app.user.skils %}
                                            <a href="#">{{ sk }}</a>
                                        {% endfor %}
                                    </div>

                                </div>
                                <div class="social-profile">
                                    <label>Social:</label>
                                    <a href="{{ path('resume_social_network') }}"
                                       class="btn btn-primary edit-button edit-cv" data-toggle="modal"
                                       data-target="#modal-social">
                                        <i data-feather="edit-2"></i>
                                    </a>
                                    <div>

                                        {% if  app.user.sociallinks["fb"] is defined %}
                                            <a target="_blank" href="{{ app.user.sociallinks["fb"] }}"><i
                                                        class="fab fa-facebook-f"></i></a>
                                        {% endif %}
                                        {% if  app.user.sociallinks["twitter"] is defined %}
                                            <a target="_blank" href="{{ app.user.sociallinks["twitter"] }}"><i
                                                        class="fab fa-twitter"></i></a>
                                        {% endif %}
                                        {% if  app.user.sociallinks["google"] is defined %}
                                            <a target="_blank" href="{{ app.user.sociallinks["google"] }}"><i
                                                        class="fab fa-google-plus"></i></a>
                                        {% endif %}
                                        {% if  app.user.sociallinks["linkedin"] is defined %}
                                            <a target="_blank" href="{{ app.user.sociallinks["linkedin"] }}"><i
                                                        class="fab fa-linkedin-in"></i></a>
                                        {% endif %}
                                        {% if  app.user.sociallinks["printerest"] is defined %}
                                            <a target="_blank" href="{{ app.user.sociallinks["printerest"] }}"><i
                                                        class="fab fa-pinterest-p"></i></a>
                                        {% endif %}
                                        {% if  app.user.sociallinks["instagram"] is defined %}
                                            <a target="_blank" href="{{ app.user.sociallinks["instagram"] }}"><i
                                                        class="fab fa-instagram"></i></a>
                                        {% endif %}
                                        {% if  app.user.sociallinks["behance"] is defined %}
                                            <a target="_blank" href="{{ app.user.sociallinks["behance"] }}"><i
                                                        class="fab fa-behance"></i></a>
                                        {% endif %}
                                        {% if  app.user.sociallinks["dribbble"] is defined %}
                                            <a target="_blank" href="{{ app.user.sociallinks["dribbble"] }}"><i
                                                        class="fab fa-dribbble"></i></a>
                                        {% endif %}
                                        {% if  app.user.sociallinks["github"] is defined %}
                                            <a target="_blank" href="{{ app.user.sociallinks["github"] }}"><i
                                                        class="fab fa-github"></i></a>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                            <div class="about-details details-section dashboard-section">
                                <h4><i data-feather="align-left"></i>Sobre mi</h4>
                                <div id="aboutme">
                                    {% if resume.aboutme is defined %}
                                        {{ resume.aboutme|raw }}
                                    {% else %}
                                        <p>Ups! NO hay nada aquí</p>
                                    {% endif %}
                                </div>

                                <!-- Button trigger modal -->
                                <a href="{{ path('resume_about_me') }}" class="btn btn-primary edit-resume edit-cv"
                                   data-toggle="modal"
                                   data-target="#modal-about-me">
                                    <i data-feather="edit-2"></i>
                                </a>

                            </div>

                            <div class="edication-background details-section dashboard-section">
                                <h4><i data-feather="book"></i>Información</h4>
                                <ul>
                                    <li>
                                        <span>Categoría:</span>
                                        <ul>
                                            {% for c in app.user.category %}
                                                <li><p class="text-muted"> {{ c }}</p></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li><span>Ubicación:</span> {{ app.user.address }} </li>
                                    <li><span>Disponibilidad:</span> {{ app.user.status }}</li>
                                    <li><span>Experiencia:</span> {{ app.user.experience }} Años</li>
                                    <li><span>Género:</span> {{ app.user.gender }}</li>
                                    <li><span>Edad:</span> {{ app.user.age }} Años</li>
                                    <li><span>Estudios:</span> {{ app.user.higherLevelTitlee }}</li>
                                </ul>
                                <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary edit-resume">
                                    <i data-feather="edit-2"></i>
                                </a>
                            </div>





                            <div class="edication-background details-section dashboard-section">
                                <h4><i data-feather="book"></i>Estudios</h4>
                                {% for m in resume.education %}
                                    <div id="div1-{{ m.id }}" class="education-label">
                                        <span class="study-year">{{ m.title }} [ {{ m.periode }} ]</span>
                                        <h5>{{ m.institute }}</h5>
                                        <p>{{ m.context }}</p>
                                    </div>
                                {% endfor %}
                                <!-- Button trigger modal -->
                                <a href="{{ path('metadata_educacion') }}" class="btn btn-primary edit-resume edit-cv"
                                   data-toggle="modal"
                                   data-target="#modal-education">
                                    <i data-feather="edit-2"></i>
                                </a>
                            </div>
                            <hr style="margin: 50px;">
                            <div class="experience dashboard-section details-section">
                                <h4><i data-feather="briefcase"></i>Experiencia Laboral</h4>
                                {% for m in resume.ocupations %}
                                    <div id="div1-{{ m.id }}" class="experience-section">
                                        <span class="study-year">{{ m.title }} [ {{ m.periode }} ]</span>
                                        <h5>{{ m.company }}</h5>
                                        <p>{{ m.context }}</p>
                                    </div>
                                {% endfor %}

                                <a href="{{ path('metadata_ocupation') }}" class="btn btn-primary edit-resume edit-cv"
                                   data-toggle="modal"
                                   data-target="#modal-experience">
                                    <i data-feather="edit-2"></i>
                                </a>

                            </div>
                            <hr style="margin: 50px;">
                            <div class="professonal-skill dashboard-section details-section">
                                <h4><i data-feather="feather"></i>Habilidad profesional</h4>
                                <div class="progress-group col-sm-10">
                                    {% for m in resume.professionalSkills %}
                                        <div id="div1-{{ m.id }}" class="progress-item col-md-6">
                                            <div class="progress-head">
                                                <p class="progress-on">{{ m.name }}</p>
                                            </div>
                                            <div class="progress-body">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar"
                                                         aria-valuenow="{{ m.porcent }}"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 0;"></div>
                                                </div>
                                                <p class="progress-to">{{ m.porcent }}%</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <span id="point"></span>
                                </div>
                                <!-- Button trigger modal -->

                                <a href="{{ path('metadata_professional_skills') }}" style="z-index: 100; "
                                   class="btn btn-primary edit-resume edit-cv"
                                   data-toggle="modal" data-target="#modal-pro-skill-edit">
                                    <i data-feather="edit-2"></i>
                                </a>

                            </div>
                            <hr style="margin: 50px;">
                            <div class="special-qualification dashboard-section details-section">
                                <h4><i data-feather="gift"></i>Calificación Especial</h4>
                                <ul>
                                    {% for m in resume.califications %}
                                        <li>{{ m.name }}</li>
                                    {% endfor %}
                                </ul>
                                <a href="{{ path('metadata_calification') }}"
                                   class="btn btn-primary edit-resume edit-cv" data-toggle="modal"
                                   data-target="#modal-qualification-remove">
                                    <i data-feather="edit-2"></i>
                                </a>
                            </div>
                            <div class="personal-information dashboard-section last-child details-section">
                                <h4><i data-feather="user-plus"></i>Datos personales</h4>
                                <ul>
                                    <li><span>Nombre:</span>{{ app.user.name }}</li>
                                    <li><span>Nacionalidad:</span> {{ app.user.country }}</li>
                                    <li><span>Sexo:</span> {{ app.user.gender }}</li>
                                    <li><span>Dirección:</span> {{ app.user.address }}</li>
                                </ul>
                            </div>
                        </div>
                        {% include 'user/dashboard_sidebar.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
{% block js %}
    {# <script src="{{ asset('site/js/ajax.js') }}"></script> #}
    {{ encore_entry_script_tags('cv') }}
    <script !src="">
        $(document).ready(function () {
            $('#resume_files_cvFile, #resume_files_cartFile').fileinput({
                dropZoneEnabled: false,
                browseLabel: '&nbsp;Importar',
                browseIcon: '<i class="fa fa-upload"></i>&nbsp;',
                removeLabel: 'Eliminar',
                showUpload: false,
                allowedFileExtensions: ['pdf'],
                maxFileSize: '1024',
            });
        })
    </script>
{% endblock %}